
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META http-equiv="X-UA-Compatible" content="IE=8">
    <TITLE>Created by BCL easyConverter SDK 3 (HTML Version)</TITLE>
    <STYLE type="text/css">

        body {margin-top: 0px;margin-left: 0px;}

        #page_1 {position:relative; overflow: hidden;margin: 64px 0px 546px 28px;padding: 0px;border: none;width: 766px;}

        #page_1 #dimg1 {position:absolute;top:0px;left:8px;z-index:-1;width:489px;height:86px;}
        #page_1 #dimg1 #img1 {width:489px;height:86px;}

        table, tr, td, th, tbody, thead, tfoot {
            page-break-inside: avoid !important;
        }

        .dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

        .ft0{font: 13px 'Kalinga';line-height: 20px;}
        .ft1{font: 13px 'Kalinga';line-height: 19px;}
        .ft2{font: 14px 'Kalinga';line-height: 20px;}
        .ft3{font: 15px 'Kalinga';line-height: 23px;}
        .ft4{font: 1px 'Kalinga';line-height: 1px;}
        .ft5{font: 1px 'Kalinga';line-height: 9px;}
        .ft6{font: 13px 'Kalinga';line-height: 20px;}
        .ft7{font: 1px 'Kalinga';line-height: 10px;}
        .ft8{font: 1px 'Kalinga';line-height: 14px;}
        .ft9{font: 1px 'Kalinga';line-height: 15px;}
        .ft10{font: 1px 'Kalinga';line-height: 17px;}
        .ft11{font: 13px 'Kalinga';line-height: 17px;}
        .ft12{font: 13px 'Kalinga';line-height: 15px;}
        .ft13{font: 1px 'Kalinga';line-height: 6px;}
        .ft14{font: 1px 'Kalinga';line-height: 7px;}
        .ft15{font: 1px 'Kalinga';line-height: 16px;}
        .ft16{font: bold 12px 'Kalinga';line-height: 19px;}
        .ft17{font: 12px 'Kalinga';line-height: 19px;}

        .p0{text-align: left;padding-left: 14px;margin-top: 98px;margin-bottom: 0px;}
        .p1{text-align: left;padding-left: 14px;margin-top: 0px;margin-bottom: 0px;}
        .p2{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p3{text-align: left;padding-left: 19px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p4{text-align: left;padding-left: 107px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p5{text-align: right;padding-right: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p6{text-align: left;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p7{text-align: center;padding-right: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p8{text-align: right;padding-right: 27px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p9{text-align: right;padding-right: 30px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p10{text-align: left;padding-left: 24px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p11{text-align: left;padding-left: 106px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p12{text-align: center;padding-right: 9px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p13{text-align: center;padding-right: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p14{text-align: right;padding-right: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p15{text-align: right;padding-right: 16px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p16{text-align: left;padding-left: 10px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p17{text-align: center;padding-right: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p18{text-align: right;padding-right: 11px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p19{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p20{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p21{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p22{text-align: left;padding-left: 497px;margin-top: 10px;margin-bottom: 0px;}
        .p23{text-align: left;padding-left: 497px;margin-top: 0px;margin-bottom: 0px;}

        .td0{padding: 0px;margin: 0px;width: 0px;vertical-align: bottom;}
        .td1{padding: 0px;margin: 0px;width: 403px;vertical-align: bottom;}
        .td2{padding: 0px;margin: 0px;width: 201px;vertical-align: bottom;}
        .td3{border-left: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 4px;vertical-align: bottom;background: #eeece1;}
        .td4{border-right: #eeece1 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 3px;vertical-align: bottom;background: #eeece1;}
        .td5{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 74px;vertical-align: bottom;background: #eeece1;}
        .td6{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 4px;vertical-align: bottom;background: #eeece1;}
        .td7{border-right: #eeece1 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 21px;vertical-align: bottom;background: #eeece1;}
        .td8{border-right: #eeece1 1px solid;border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 266px;vertical-align: bottom;background: #eeece1;}
        .td9{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 5px;vertical-align: bottom;background: #eeece1;}
        .td10{border-right: #eeece1 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 70px;vertical-align: bottom;background: #eeece1;}
        .td11{border-right: #eeece1 1px solid;border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 72px;vertical-align: bottom;background: #eeece1;}
        .td12{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 69px;vertical-align: bottom;background: #eeece1;}
        .td13{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 30px;vertical-align: bottom;background: #eeece1;}
        .td14{border-right: #eeece1 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 11px;vertical-align: bottom;background: #eeece1;}
        .td15{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 85px;vertical-align: bottom;background: #eeece1;}
        .td16{padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
        .td17{border-left: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 4px;vertical-align: bottom;background: #eeece1;}
        .td18{border-right: #eeece1 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 3px;vertical-align: bottom;background: #eeece1;}
        .td19{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 4px;vertical-align: bottom;background: #eeece1;}
        .td20{border-right: #eeece1 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 21px;vertical-align: bottom;background: #eeece1;}
        .td21{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 5px;vertical-align: bottom;background: #eeece1;}
        .td22{border-right: #eeece1 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 70px;vertical-align: bottom;background: #eeece1;}
        .td23{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 69px;vertical-align: bottom;background: #eeece1;}
        .td24{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 30px;vertical-align: bottom;background: #eeece1;}
        .td25{border-right: #eeece1 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 11px;vertical-align: bottom;background: #eeece1;}
        .td26{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 4px;vertical-align: bottom;}
        .td27{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 82px;vertical-align: bottom;}
        .td28{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 294px;vertical-align: bottom;}
        .td29{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 213px;vertical-align: bottom;}
        .td30{padding: 0px;margin: 0px;width: 30px;vertical-align: bottom;}
        .td31{padding: 0px;margin: 0px;width: 94px;vertical-align: bottom;}
        .td32{padding: 0px;margin: 0px;width: 3px;vertical-align: bottom;}
        .td33{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 4px;vertical-align: bottom;}
        .td34{padding: 0px;margin: 0px;width: 71px;vertical-align: bottom;}
        .td35{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 73px;vertical-align: bottom;}
        .td36{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 69px;vertical-align: bottom;}
        .td37{border-left: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 4px;vertical-align: bottom;}
        .td38{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 4px;vertical-align: bottom;}
        .td39{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 74px;vertical-align: bottom;}
        .td40{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 4px;vertical-align: bottom;}
        .td41{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 22px;vertical-align: bottom;}
        .td42{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 133px;vertical-align: bottom;}
        .td43{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 134px;vertical-align: bottom;}
        .td44{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 5px;vertical-align: bottom;}
        .td45{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 71px;vertical-align: bottom;}
        .td46{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 69px;vertical-align: bottom;}
        .td47{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 30px;vertical-align: bottom;}
        .td48{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 12px;vertical-align: bottom;}
        .td49{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 82px;vertical-align: bottom;}
        .td50{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 3px;vertical-align: bottom;}
        .td51{padding: 0px;margin: 0px;width: 5px;vertical-align: bottom;}
        .td52{padding: 0px;margin: 0px;width: 4px;vertical-align: bottom;}
        .td53{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 79px;vertical-align: bottom;}
        .td54{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;}
        .td55{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 100px;vertical-align: bottom;}
        .td56{padding: 0px;margin: 0px;width: 8px;vertical-align: bottom;}
        .td57{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 3px;vertical-align: bottom;}
        .td58{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 21px;vertical-align: bottom;}
        .td59{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 266px;vertical-align: bottom;}
        .td60{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 70px;vertical-align: bottom;}
        .td61{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 72px;vertical-align: bottom;}
        .td62{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 11px;vertical-align: bottom;}
        .td63{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 81px;vertical-align: bottom;}
        .td64{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 70px;vertical-align: bottom;}
        .td65{padding: 0px;margin: 0px;width: 74px;vertical-align: bottom;}
        .td66{padding: 0px;margin: 0px;width: 22px;vertical-align: bottom;}
        .td67{padding: 0px;margin: 0px;width: 133px;vertical-align: bottom;}
        .td68{padding: 0px;margin: 0px;width: 211px;vertical-align: bottom;}
        .td69{padding: 0px;margin: 0px;width: 275px;vertical-align: bottom;}
        .td70{padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
        .td71{padding: 0px; margin: 0px; width: 211px; vertical-align: top; border: 1px solid black;}
        .td72{padding: 0px; margin: 0px; width: 275px; vertical-align: top; border-top: 1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;}

        .tr0{height: 21px;}
        .tr1{height: 28px;}
        .tr2{height: 7px;}
        .tr3{height: 26px;}
        .tr4{height: 19px;}
        .tr5{height: 23px;}
        .tr6{height: 9px;}
        .tr7{height: 10px;}
        .tr8{height: 14px;}
        .tr9{height: 15px;}
        .tr10{height: 17px;}
        .tr11{height: 6px;}
        .tr12{height: 16px;}
        .tr13{height: 20px;}
        .tr14{height: 33px;}
        .tr15{height: 32px;}
        .tr16{height: 80px;}

        .t0{width: 604px;margin-left: 14px;font: 13px 'Kalinga';}
        .t1{width: 736px;margin-top: 65px;font: bold 12px 'Kalinga';}

    </STYLE>
</HEAD>

<BODY>
<DIV id="page_1">
    <DIV id="dimg1">
        <IMG src="{{ asset('img/logos/logo-OFESA.jpg', absolute=true ) }}" id="img1">
    </DIV>


    <DIV class="dclr"></DIV>
    <P class="p0 ft0"><NOBR>119-121</NOBR> rue Damrémont</P>
    <P class="p1 ft1">75018 PARIS</P>
    <TABLE cellpadding=0 cellspacing=0 class="t0">
        <TR>
            <TD class="tr0 td0"></TD>
            <TD rowspan=2 class="tr1 td1"><P class="p2 ft0">Tél. :01.48.07.60.31</P></TD>
            <TD class="tr0 td2"><P class="p2 ft2"><NOBR>{{ bonCde.bcdRelation.relSoustraitant.strNom }}</NOBR></P></TD>
        </TR>
        <TR>
            <TD class="tr2 td0"></TD>
            <TD rowspan=2 class="tr3 td2"><P class="p2 ft3">{{ bonCde.bcdRelation.relSoustraitant.strAdresse1 }} {{ bonCde.bcdRelation.relSoustraitant.strAdresse2 }}</P></TD>
        </TR>
        <TR>
            <TD class="tr4 td0"></TD>
            <TD class="tr4 td1"><P class="p2 ft1">Fax: 01.48.07.52.11</P></TD>
        </TR>
        <TR>
            <TD class="tr5 td0"></TD>
            <TD class="tr5 td1"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr5 td2"><P class="p2 ft3">{{ bonCde.bcdRelation.relSoustraitant.strCP }} {{ bonCde.bcdRelation.relSoustraitant.strVille }}</P></TD>
        </TR>
    </TABLE>
    <TABLE cellpadding=0 cellspacing=0 class="t1">
        <TR>
            <TD class="tr6 td3"><P class="p2 ft5">&nbsp;</P></TD>
            <TD class="tr6 td4"><P class="p2 ft5">&nbsp;</P></TD>
            <TD rowspan=2 class="tr5 td5"><P class="p3 ft6">Date</P></TD>
            <TD class="tr6 td6"><P class="p2 ft5">&nbsp;</P></TD>
            <TD class="tr6 td7"><P class="p2 ft5">&nbsp;</P></TD>
            <TD colspan=2 rowspan=2 class="tr5 td8"><P class="p4 ft6">Objet</P></TD>
            <TD class="tr6 td9"><P class="p2 ft5">&nbsp;</P></TD>
            <TD class="tr6 td10"><P class="p2 ft5">&nbsp;</P></TD>
            <TD rowspan=2 class="tr5 td11"><P class="p2 ft6">N° de conv.</P></TD>
            <TD class="tr6 td12"><P class="p2 ft5">&nbsp;</P></TD>
            <TD class="tr6 td13"><P class="p2 ft5">&nbsp;</P></TD>
            <TD class="tr6 td14"><P class="p2 ft5">&nbsp;</P></TD>
            <TD colspan=2 rowspan=2 class="tr5 td15"><P class="p2 ft6">N° Cde</P></TD>
            <TD class="tr6 td6"><P class="p2 ft5">&nbsp;</P></TD>
            <TD class="tr7 td16"><P class="p2 ft7">&nbsp;</P></TD>
        </TR>
        <TR>
            <TD class="tr8 td17"><P class="p2 ft8">&nbsp;</P></TD>
            <TD class="tr8 td18"><P class="p2 ft8">&nbsp;</P></TD>
            <TD class="tr8 td19"><P class="p2 ft8">&nbsp;</P></TD>
            <TD class="tr8 td20"><P class="p2 ft8">&nbsp;</P></TD>
            <TD class="tr8 td21"><P class="p2 ft8">&nbsp;</P></TD>
            <TD class="tr8 td22"><P class="p2 ft8">&nbsp;</P></TD>
            <TD class="tr8 td23"><P class="p2 ft8">&nbsp;</P></TD>
            <TD class="tr8 td24"><P class="p2 ft8">&nbsp;</P></TD>
            <TD class="tr8 td25"><P class="p2 ft8">&nbsp;</P></TD>
            <TD class="tr8 td19"><P class="p2 ft8">&nbsp;</P></TD>
            <TD class="tr9 td16"><P class="p2 ft9">&nbsp;</P></TD>
        </TR>
        <TR>
            <TD class="tr10 td26"><P class="p2 ft10">&nbsp;</P></TD>
            <TD colspan=3 rowspan=2 class="tr3 td27"><P class="p5 ft0">{{ bonCde.bcdDate | date('d/m/Y') }}</P></TD>
            <TD colspan=4 rowspan=2 class="tr3 td28"><P class="p6 ft0">Module de formation CQP Salarié Polyvalent</P></TD>
            <TD colspan=3 class="tr10 td29"><P class="p7 ft11">CEN / {{ bonCde.bcdDAF.dafStructure.strNom }}</P></TD>
            <TD class="tr10 td30"><P class="p2 ft10">&nbsp;</P></TD>
            <TD colspan=2 rowspan=2 class="tr3 td31"><P class="p8 ft0"><NOBR>{{ bonCde.bcdAnnee }}-{{ "%04d"|format(bonCde.bcdNumero) }}</NOBR></P></TD>
            <TD class="tr10 td32"><P class="p2 ft10">&nbsp;</P></TD>
            <TD class="tr10 td33"><P class="p2 ft10">&nbsp;</P></TD>
            <TD class="tr10 td16"><P class="p2 ft10">&nbsp;</P></TD>
        </TR>
        <TR>
            <TD class="tr6 td26"><P class="p2 ft5">&nbsp;</P></TD>
            <TD class="tr6 td34"><P class="p2 ft5">&nbsp;</P></TD>
            <TD rowspan=2 class="tr9 td35"><P class="p9 ft12"> / 1</P></TD>
            <TD class="tr6 td36"><P class="p2 ft5">&nbsp;</P></TD>
            <TD class="tr6 td30"><P class="p2 ft5">&nbsp;</P></TD>
            <TD class="tr6 td32"><P class="p2 ft5">&nbsp;</P></TD>
            <TD class="tr6 td33"><P class="p2 ft5">&nbsp;</P></TD>
            <TD class="tr6 td16"><P class="p2 ft5">&nbsp;</P></TD>
        </TR>
        <TR>
            <TD class="tr11 td37"><P class="p2 ft13">&nbsp;</P></TD>
            <TD class="tr11 td38"><P class="p2 ft13">&nbsp;</P></TD>
            <TD class="tr11 td39"><P class="p2 ft13">&nbsp;</P></TD>
            <TD class="tr11 td40"><P class="p2 ft13">&nbsp;</P></TD>
            <TD class="tr11 td41"><P class="p2 ft13">&nbsp;</P></TD>
            <TD class="tr11 td42"><P class="p2 ft13">&nbsp;</P></TD>
            <TD class="tr11 td43"><P class="p2 ft13">&nbsp;</P></TD>
            <TD class="tr11 td44"><P class="p2 ft13">&nbsp;</P></TD>
            <TD class="tr11 td45"><P class="p2 ft13">&nbsp;</P></TD>
            <TD class="tr11 td46"><P class="p2 ft13">&nbsp;</P></TD>
            <TD class="tr11 td47"><P class="p2 ft13">&nbsp;</P></TD>
            <TD class="tr11 td48"><P class="p2 ft13">&nbsp;</P></TD>
            <TD class="tr11 td49"><P class="p2 ft13">&nbsp;</P></TD>
            <TD class="tr11 td50"><P class="p2 ft13">&nbsp;</P></TD>
            <TD class="tr11 td40"><P class="p2 ft13">&nbsp;</P></TD>
            <TD class="tr2 td16"><P class="p2 ft14">&nbsp;</P></TD>
        </TR>
        <TR>
            <TD class="tr10 td51"><P class="p2 ft10">&nbsp;</P></TD>
            <TD class="tr10 td52"><P class="p2 ft10">&nbsp;</P></TD>
            <TD colspan=2 class="tr12 td53"><P class="p2 ft15">&nbsp;</P></TD>
            <TD class="tr12 td41"><P class="p2 ft15">&nbsp;</P></TD>
            <TD class="tr12 td42"><P class="p2 ft15">&nbsp;</P></TD>
            <TD class="tr12 td43"><P class="p2 ft15">&nbsp;</P></TD>
            <TD class="tr12 td54"><P class="p2 ft15">&nbsp;</P></TD>
            <TD class="tr12 td45"><P class="p2 ft15">&nbsp;</P></TD>
            <TD class="tr12 td35"><P class="p2 ft15">&nbsp;</P></TD>
            <TD colspan=2 class="tr12 td55"><P class="p2 ft15">&nbsp;</P></TD>
            <TD class="tr12 td48"><P class="p2 ft15">&nbsp;</P></TD>
            <TD class="tr12 td49"><P class="p2 ft15">&nbsp;</P></TD>
            <TD colspan=2 class="tr10 td56"><P class="p2 ft10">&nbsp;</P></TD>
            <TD class="tr10 td16"><P class="p2 ft10">&nbsp;</P></TD>
        </TR>
        <TR>
            <TD class="tr0 td51"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr0 td57"><P class="p2 ft4">&nbsp;</P></TD>
            <TD colspan=2 class="tr13 td53"><P class="p10 ft16">Ref. DAF</P></TD>
            <TD class="tr13 td58"><P class="p2 ft4">&nbsp;</P></TD>
            <TD colspan=2 class="tr13 td59"><P class="p11 ft16">Stagiaire</P></TD>
            <TD class="tr13 td54"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr13 td60"><P class="p12 ft16">Module</P></TD>
            <TD class="tr13 td61"><P class="p13 ft16">Heures</P></TD>
            <TD colspan=2 class="tr13 td55"><P class="p14 ft16">Taux Horaire</P></TD>
            <TD class="tr13 td62"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr13 td63"><P class="p15 ft16">Montant</P></TD>
            <TD colspan=2 class="tr0 td56"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr0 td16"><P class="p2 ft4">&nbsp;</P></TD>
        </TR>
        {% for parcours in bonCde.bcdBParcours %}
        <TR>
            <TD class="tr0 td51"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr0 td57"><P class="p2 ft4">&nbsp;</P></TD>
            <TD colspan=2 class="tr13 td53"><P class="p16 ft17"><NOBR>{{ parcours.bprParcours.prcDcont.cntDaf.dafDossier }}</NOBR></P></TD>
            <TD class="tr13 td58"><P class="p2 ft4">&nbsp;</P></TD>
            <TD colspan=2 class="tr13 td59"><P class="p16 ft17">{{ parcours.bprParcours.prcDcont.cntTiers.trsNom }} {{ parcours.bprParcours.prcDcont.cntTiers.trsPrenom }}</P></TD>
            <TD class="tr13 td54"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr13 td60"><P class="p17 ft17">{{ parcours.bprParcours.prcModule.modCode }}</P></TD>
            <TD class="tr13 td61"><P class="p18 ft17">{{ parcours.bprNombreHeure }}</P></TD>
            <TD colspan=2 class="tr13 td55"><P class="p19 ft17">{{ parcours.bprTauxHoraire }}</P></TD>
            <TD class="tr13 td62"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr13 td63"><P class="p18 ft17">{{ parcours.montant | number_format(2, ',', ' ') }}</P></TD>
            <TD class="tr0 td32"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr0 td51"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr0 td16"><P class="p2 ft4">&nbsp;</P></TD>
        </TR>
        {% endfor %}
        <TR>
            <TD class="tr0 td51"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr0 td57"><P class="p2 ft4">&nbsp;</P></TD>
            <TD colspan=2 class="tr13 td53"><P class="p16 ft16">TOTAUX :</P></TD>
            <TD class="tr13 td41"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr13 td42"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr13 td43"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr13 td54"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr13 td60"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr13 td61"><P class="p18 ft16">{{ bonCde.totalHeures | number_format(2, ',', ' ') }}</P></TD>
            <TD class="tr13 td64"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr13 td47"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr13 td62"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr13 td63"><P class="p18 ft16">{{ bonCde.totalMontant | number_format(2, ',', ' ') }}</P></TD>
            <TD class="tr0 td32"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr0 td51"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr0 td16"><P class="p2 ft4">&nbsp;</P></TD>
        </TR>
        <TR>
            <TD class="tr14 td51"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr14 td52"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr14 td65"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr14 td51"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr14 td66"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr14 td67"><P class="p2 ft4">&nbsp;</P></TD>
            <TD colspan=3 class="tr15 td68"><P class="p2 ft4">&nbsp;</P></TD>
            <TD colspan=7 class="tr15 td69"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr15 td70"><P class="p2 ft4">&nbsp;</P></TD>
        </TR>
        <TR>
            <TD class="tr16 td51"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr16 td52"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr16 td65"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr16 td51"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr16 td66"><P class="p2 ft4">&nbsp;</P></TD>
            <TD class="tr16 td67"><P class="p2 ft4">&nbsp;</P></TD>
            <TD colspan=3 class="tr16 td71"><P class="p20 ft6"><b>Signature demandeur :</b></P></TD>
            <TD colspan=7 class="tr16 td72"><P class="p21 ft6"><b>Signature responsable :</b> <br /><br /><br />Xavier DEMANCHE,<br />Coordinateur.</P></TD>
            <TD class="tr16 td16"><P class="p2 ft4">&nbsp;</P></TD>
        </TR>
    </TABLE>
</DIV>
</BODY>
</HTML>
