
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
	<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<META http-equiv="X-UA-Compatible" content="IE=8">
	<TITLE>Created by BCL easyConverter SDK 3 (HTML Version)</TITLE>
	<STYLE type="text/css">

		body {margin-top: 0px;margin-left: 0px;}

		#page_1 {position:relative; overflow: hidden;margin: 82px 0px 43px 48px;padding: 0px;border: none;width: 746px; page-break-after: always;}

		#page_1 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:716px;height:765px;}
		#page_1 #dimg1 #img1 {width:716px;height:765px;}




		#page_2 {position:relative; overflow: hidden;margin: 121px 0px 43px 60px;padding: 0px;border: none;width: 734px; page-break-after: always;}

		#page_2 #dimg1 {position:absolute;top:145px;left:34px;z-index:-1;width:601px;height:601px;}
		#page_2 #dimg1 #img1 {width:601px;height:601px;}




		#page_3 {position:relative; overflow: hidden;margin: 121px 0px 43px 60px;padding: 0px;border: none;width: 734px;}

		#page_3 #dimg1 {position:absolute;top:145px;left:34px;z-index:-1;width:601px;height:601px;}
		#page_3 #dimg1 #img1 {width:601px;height:601px;}




		.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

		.ft0{font: bold 19px 'Arial';line-height: 22px;}
		.ft1{font: bold 15px 'Arial';line-height: 18px;}
		.ft2{font: 15px 'Arial';line-height: 17px;}
		.ft3{font: 13px 'Arial';margin-left: 3px;line-height: 27px;}
		.ft4{font: 13px 'Arial';line-height: 27px;}
		.ft5{font: 14px 'Arial';line-height: 23px;}
		.ft6{font: bold 13px 'Arial';line-height: 23px;}
		.ft7{font: 13px 'Arial';line-height: 23px;}
		.ft8{font: 15px 'Arial';line-height: 23px;}
		.ft9{font: bold 15px 'Arial';text-decoration: underline;line-height: 18px;}
		.ft10{font: 15px 'Arial';line-height: 19px;}
		.ft11{font: 12px 'Kalinga';line-height: 19px;}
		.ft12{font: 12px 'Kalinga';line-height: 16px;}
		.ft13{font: 12px 'Kalinga';text-decoration: underline;color: #0000ff;line-height: 16px;}
		.ft14{font: 12px 'Kalinga';color: #0000ff;line-height: 16px;}
		.ft15{font: 1px 'Arial';line-height: 16px;}
		.ft16{font: 1px 'Arial';line-height: 1px;}
		.ft17{font: 13px 'Arial';line-height: 16px;}
		.ft18{font: bold 13px 'Arial';line-height: 16px;}
		.ft19{font: 12px 'Arial';line-height: 15px;}

		.p0{text-align: left;padding-left: 241px;margin-top: 90px;margin-bottom: 0px;}
		.p1{text-align: center;margin-top: 9px;margin-bottom: 0px;}
		.p2{text-align: left;padding-left: 12px;margin-top: 18px;margin-bottom: 0px;}
		.p3{text-align: justify;padding-left: 36px;padding-right: 429px;margin-top: 14px;margin-bottom: 0px;text-indent: -15px;}
		.p4{text-align: left;padding-left: 36px;margin-top: 1px;margin-bottom: 0px;}
		.p5{text-align: left;padding-left: 36px;padding-right: 346px;margin-top: 7px;margin-bottom: 0px;}
		.p6{text-align: left;padding-left: 21px;padding-right: 487px;margin-top: 2px;margin-bottom: 0px;text-indent: 15px;}
		.p7{text-align: left;padding-left: 21px;margin-top: 10px;margin-bottom: 0px;}
		.p8{text-align: left;padding-left: 36px;padding-right: 64px;margin-top: 15px;margin-bottom: 0px;}
		.p9{text-align: left;padding-left: 36px;margin-top: 6px;margin-bottom: 0px;}
		.p10{text-align: left;padding-left: 36px;padding-right: 350px;margin-top: 7px;margin-bottom: 0px;}
		.p11{text-align: left;padding-left: 36px;margin-top: 2px;margin-bottom: 0px;}
		.p12{text-align: left;padding-left: 21px;margin-top: 7px;margin-bottom: 0px;}
		.p13{text-align: left;padding-left: 21px;margin-top: 14px;margin-bottom: 0px;}
		.p14{text-align: left;padding-left: 36px;margin-top: 15px;margin-bottom: 0px;}
		.p15{text-align: left;padding-left: 36px;padding-right: 343px;margin-top: 7px;margin-bottom: 0px;}
		.p16{text-align: left;padding-left: 21px;padding-right: 459px;margin-top: 2px;margin-bottom: 0px;text-indent: 15px;}
		.p17{text-align: left;padding-left: 12px;margin-top: 14px;margin-bottom: 0px;}
		.p18{text-align: justify;padding-left: 12px;padding-right: 64px;margin-top: 6px;margin-bottom: 0px;}
		.p19{text-align: justify;padding-left: 48px;padding-right: 84px;margin-top: 23px;margin-bottom: 0px;}
		.p20{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
		.p21{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
		.p22{text-align: right;padding-right: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
		.p23{text-align: left;margin-top: 0px;margin-bottom: 0px;}
		.p24{text-align: justify;padding-right: 64px;margin-top: 6px;margin-bottom: 0px;}
		.p25{text-align: left;margin-top: 5px;margin-bottom: 0px;}
		.p26{text-align: justify;padding-right: 64px;margin-top: 7px;margin-bottom: 0px;}
		.p27{text-align: justify;padding-right: 59px;margin-top: 6px;margin-bottom: 0px;}
		.p28{text-align: left;margin-top: 26px;margin-bottom: 0px;}
		.p29{text-align: justify;padding-right: 64px;margin-top: 4px;margin-bottom: 0px;}
		.p30{text-align: left;margin-top: 6px;margin-bottom: 0px;}
		.p31{text-align: left;padding-right: 404px;margin-top: 7px;margin-bottom: 0px;}
		.p32{text-align: left;margin-top: 3px;margin-bottom: 0px;}
		.p33{text-align: left;margin-top: 7px;margin-bottom: 0px;}
		.p34{text-align: left;padding-right: 64px;margin-top: 7px;margin-bottom: 0px;}
		.p35{text-align: left;margin-top: 23px;margin-bottom: 0px;}
		.p36{text-align: left;padding-right: 203px;margin-top: 6px;margin-bottom: 0px;}
		.p37{text-align: left;padding-right: 64px;margin-top: 2px;margin-bottom: 0px;}
		.p38{text-align: left;margin-top: 40px;margin-bottom: 0px;}
		.p39{text-align: left;margin-top: 69px;margin-bottom: 0px;}
		.p40{text-align: left;padding-right: 546px;margin-top: 68px;margin-bottom: 0px;}
		.p41{text-align: left;margin-top: 1px;margin-bottom: 0px;}

		.td0{padding: 0px;margin: 0px;width: 281px;vertical-align: bottom;}
		.td1{padding: 0px;margin: 0px;width: 258px;vertical-align: bottom;}
		.td2{padding: 0px;margin: 0px;width: 161px;vertical-align: bottom;}
		.td3{padding: 0px;margin: 0px;width: 428px;vertical-align: bottom;}
		.td4{padding: 0px;margin: 0px;width: 200px;vertical-align: bottom;}
		.td5{padding: 0px;margin: 0px;width: 84px;vertical-align: bottom;}

		.tr0{height: 23px;}
		.tr1{height: 16px;}
		.tr2{height: 19px;}
		.tr3{height: 18px;}
		.tr4{height: 17px;}

		.t0{width: 700px;margin-left: 12px;margin-top: 44px;font: 12px 'Kalinga';}
		.t1{width: 700px;margin-top: 56px;font: 12px 'Kalinga';}
		.t2{width: 628px;margin-top: 33px;font: bold 13px 'Arial';}
		.t3{width: 512px;margin-top: 68px;font: 15px 'Arial';}
		.t4{width: 700px;margin-top: 338px;font: 12px 'Kalinga';}

	</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">
	<DIV id="dimg1">
		<IMG src="{{ asset('img/logos/ceofesa.jpg', absolute=true ) }}" id="img1">
	</DIV>


	<DIV class="dclr"></DIV>
	<P class="p0 ft0">Convention de <NOBR>sous-traitance</NOBR></P>
	<P class="p1 ft0">N° CEN / {{ relation.relSoustraitant.strNom }} / 1</P>
	<P class="p2 ft1">La présente convention est conclue entre :</P>
	<P class="p3 ft4"><SPAN class="ft2">1.</SPAN><SPAN class="ft3">Raison sociale : </SPAN><NOBR>{{ relation.relSoustraitant.strNom }}</NOBR> <br />SIRET : {{ relation.relSoustraitant.strSIRET }}</P>
	<P class="p4 ft2">N° DE DECLARATION D’ACTIVITE {{ relation.relSoustraitant.strNumOF }}</P>
	<P class="p5 ft5">Adresse : {{ relation.relSoustraitant.strAdresse1 }} {{ relation.relSoustraitant.strAdresse2 }} - {{ relation.relSoustraitant.strCP }} {{ relation.relSoustraitant.strVille }} <br />Représentée par : {{ relation.relSoustraitant.strReponsable }} </P>
	<P class="p6 ft7">En qualité de : {{ relation.relSoustraitant.strFonction }} <NOBR>ci-dessus</NOBR> désigné le <SPAN class="ft6">prestataire</SPAN>,</P>
	<P class="p7 ft2">2. Raison sociale : OF'ESA</P>
	<P class="p8 ft2">N° de déclaration d'activité : 11755141875 auprès de la Direction Régionale du Travail, de l'Emploi et de la Formation Professionnelle d'Île de France</P>
	<P class="p9 ft2">SIRET : 79917710000010</P>
	<P class="p10 ft8">Adresse : <NOBR>119-121</NOBR> rue Damrémont – 75018 Paris <br />Représenté par : <NOBR>Jean-Pierre</NOBR> PAUILLAC</P>
	<P class="p11 ft2">En qualité de : Président</P>
	<P class="p12 ft1"><NOBR><SPAN class="ft2">ci-dessus</SPAN></NOBR><SPAN class="ft2"> désigné </SPAN>l’organisme de formation<SPAN class="ft2">,</SPAN></P>
	<P class="p13 ft2">3. Raison sociale : {{ relation.relStructure.strNom }}</P>
	<P class="p14 ft2">SIRET : {{ relation.relStructure.strSIRET }}.</P>
	<P class="p15 ft5">Adresse : {{ relation.relStructure.strAdresse1 }} {{ relation.relStructure.strAdresse2 }} - {{ relation.relStructure.strCP }} {{ relation.relStructure.strVille }} <br /> Représentée par : {{ relation.relStructure.strReponsable }} </P>
	<P class="p16 ft7">En qualité de : {{ relation.relStructure.strFonction }} <NOBR>ci-dessus</NOBR> désigné la <SPAN class="ft6">structure employeur</SPAN>,</P>
	<P class="p17 ft9">Article 1 : Objet</P>
	<P class="p18 ft2">La présente convention a pour objet de définir les modalités de collaboration entre l’organisme de formation, le prestataire et la structure employeur pour la mise en œuvre des prestations de formation dans le cadre du CQP Salarié Polyvalent, pour les modules suivants :</P>
	<P class="p19 ft10">M1 – Développer des comportements nécessaires à la réussite du parcours - comprendre et communiquer par l’oral - lire, comprendre et communiquer par l’écrit - appréhender l’espace et le temps - utiliser les mathématiques en situation professionnelle</P>
	<TABLE cellpadding=0 cellspacing=0 class="t0">
		<TR>
			<TD class="tr0 td0"><P class="p20 ft11">OF’ESA</P></TD>
			<TD class="tr0 td1"><P class="p20 ft11"><NOBR>119-121</NOBR> rue Damrémont</P></TD>
			<TD class="tr0 td2"><P class="p21 ft11">75018 PARIS</P></TD>
		</TR>
		<TR>
			<TD class="tr1 td0"><P class="p20 ft14"><SPAN class="ft12">Courriel : </SPAN><SPAN class="ft13">contact@ofesa.org</SPAN></P></TD>
			<TD class="tr1 td1"><P class="p20 ft15">&nbsp;</P></TD>
			<TD class="tr1 td2"><P class="p22 ft12">site Internet : <SPAN class="ft13">www.ofesa.org</SPAN></P></TD>
		</TR>
		<TR>
			<TD class="tr2 td0"><P class="p20 ft11">Tél. : 01 48 07 60 31</P></TD>
			<TD class="tr2 td1"><P class="p20 ft16">&nbsp;</P></TD>
			<TD class="tr2 td2"><P class="p22 ft11">Fax : 01 48 07 52 11</P></TD>
		</TR>
	</TABLE>
</DIV>
<DIV id="page_2">
	<P class="p23 ft9">Article 2 : Modalités de collaboration</P>
	<P class="p24 ft2">Le prestataire mettra à disposition des stagiaires inscrits dans l’action un enseignement de face à face pédagogique dans les domaines de la technologie et des travaux pratiques. Pour cela il utilisera les locaux mis à disposition par la structure employeur ou, à défaut, ses propres équipements et matériels.</P>
	<P class="p25 ft2">Le prestataire interviendra en tant que <NOBR>sous-traitant</NOBR> pour le compte de l’organisme de formation.</P>
	<P class="p26 ft2">La structure employeur s’engage à permettre aux salariés bénéficiaires des formations de suivre les enseignements pédagogiques et à réaliser tous travaux liés à cette formation.</P>
	<P class="p24 ft2">La structure employeur organise le temps de travail du salarié de façon à ce que le programme et le calendrier de formation communiqué par le prestataire et les périodes d’immersions soient respectés.</P>
	<P class="p27 ft17">La structure employeur désigne un salarié référent afin d’accompagner le salarié bénéficiaire tout au long de sa formation et s’engage à dégager le temps nécessaire à <NOBR>celui-ci</NOBR> afin de réaliser cet accompagnement.</P>
	<P class="p28 ft9">Article 3 : Modalités financières</P>
	<P class="p24 ft2">Chaque entrée d’un salarié en formation fera l’objet d’une communication au prestataire des éléments nécessaire à la réalisation de la formation par l’organisme sous forme d’un bon de commande. Ce bon de commande mentionnera le nom du salarié, le nombre d’heures de formation et le montant total prévisionnel pour cette formation.</P>
	<P class="p29 ft2">Le montant horaire TTC pour 1 heure de formation en face à face pédagogique dispensée par le prestataire est fixé de manière forfaitaire à 10 par heure/stagiaire.</P>
	<P class="p24 ft2">Ces tarifs valent pour chacun des modules conventionnés et incluent les moyens (locaux, équipements et matériels) mis à disposition ;</P>
	<P class="p24 ft2">Aucun frais de déplacement ne sera versé au prestataire pour les prestations d’heures de face à face pédagogique.</P>
	<P class="p24 ft2">Le prestataire fournira tous les documents nécessaires qui permettront la bonne exécution de la sous- traitance, sur la base des modèles arrêtés par OF’ESA.</P>
	<P class="p24 ft2">Une facture par prise en charge de l’OPCA sera émise au nom de OF’ESA, et comportera en particulier les éléments suivants :</P>
	<P class="p30 ft2"><NOBR>-Raison</NOBR> sociale et SIRET</P>
	<P class="p31 ft8"><NOBR>-Référence</NOBR> à la convention de <NOBR>sous-traitance</NOBR> <NOBR>-Référence</NOBR> de la prise en charge financière de l’OPCA <NOBR>-Nom</NOBR> et détail de la prestation</P>
	<P class="p32 ft2"><NOBR>-Indication</NOBR> complète des références horaires</P>
	<P class="p33 ft2">La facture devra être accompagnée des états de présence originaux signés par les stagiaires et le formateur.</P>
	<P class="p34 ft2">En aucun cas, le montant des prestations dues au prestataire pour chacun des salariés bénéficiaires ne pourra excéder le montant des bons de commandes.</P>
	<P class="p35 ft9">Article 4 : durée de la convention</P>
	<P class="p36 ft5">La présente convention prend effet du 01/01/2000 et s’achève le 01/01/2000. Cette convention pourra faire l’objet d’avenants, exécutoires dans les mêmes formes.</P>
	<P class="p37 ft2">L’exécution de la présente convention peut être interrompue, par l’une ou l’autre partie, par lettre recommandée avec accusé de réception au plus tard 30 jours avant la date d’interruption.</P>
	<TABLE cellpadding=0 cellspacing=0 class="t1">
		<TR>
			<TD class="tr0 td0"><P class="p20 ft11">OF’ESA</P></TD>
			<TD class="tr0 td1"><P class="p20 ft11"><NOBR>119-121</NOBR> rue Damrémont</P></TD>
			<TD class="tr0 td2"><P class="p21 ft11">75018 PARIS</P></TD>
		</TR>
		<TR>
			<TD class="tr1 td0"><P class="p20 ft14"><SPAN class="ft12">Courriel : </SPAN><SPAN class="ft13">contact@ofesa.org</SPAN></P></TD>
			<TD class="tr1 td1"><P class="p20 ft15">&nbsp;</P></TD>
			<TD class="tr1 td2"><P class="p22 ft12">site Internet : <SPAN class="ft13">www.ofesa.org</SPAN></P></TD>
		</TR>
		<TR>
			<TD class="tr2 td0"><P class="p20 ft11">Tél. : 01 48 07 60 31</P></TD>
			<TD class="tr2 td1"><P class="p20 ft16">&nbsp;</P></TD>
			<TD class="tr2 td2"><P class="p22 ft11">Fax : 01 48 07 52 11</P></TD>
		</TR>
	</TABLE>
</DIV>
<DIV id="page_3">
	<P class="p23 ft9">Article 5 : Litiges</P>
	<P class="p24 ft2">En cas de litige dans l’exécution de la présente convention, les parties s’engagent à se rencontrer pour trouver une solution amiable avant tout recours auprès des tribunaux compétents. La rencontre prévue ci- dessus devra intervenir sous trois semaines au plus tard après réception par l’une des parties d’un courrier recommandé avec accusé de réception sollicitant la rencontre et précisant l’objet du litige.</P>
	<P class="p29 ft2">A défaut de solution amiable, les litiges résultant de la présente convention seront soumis à l’appréciation des tribunaux de Paris.</P>
	<P class="p38 ft2">Fait en triple exemplaire à Paris, le {{ 'now'|date('d/m/Y') }}</P>
	<TABLE cellpadding=0 cellspacing=0 class="t2">
		<TR>
			<TD class="tr3 td3"><P class="p20 ft1">Pour le prestataire,</P></TD>
			<TD class="tr3 td4"><P class="p20 ft18">Pour l'organisme de formation,</P></TD>
		</TR>
	</TABLE>
	<TABLE cellpadding=0 cellspacing=0 class="t3">
		<TR>
			<TD class="tr2 td3"><P class="p20 ft2">{{ relation.relSoustraitant.strReponsable }}</P></TD>
			<TD class="tr2 td5"><P class="p20 ft19">Luis SEMEDO</P></TD>
		</TR>
		<TR>
			<TD class="tr4 td3"><P class="p20 ft2">{{ relation.relSoustraitant.strFonction }}</P></TD>
			<TD class="tr4 td5"><P class="p20 ft2">Directeur</P></TD>
		</TR>
		<TR>
			<TD class="tr1 td3"><P class="p20 ft19">(Cachet – Signature)</P></TD>
			<TD class="tr1 td5"><P class="p20 ft15">&nbsp;</P></TD>
		</TR>
	</TABLE>
	<P class="p39 ft1">Pour la structure employeur,</P>
	<P class="p40 ft2">{{ relation.relStructure.strReponsable }} <br />{{ relation.relStructure.strFonction }}</P>
	<P class="p41 ft19">(Cachet – Signature)</P>
	<TABLE cellpadding=0 cellspacing=0 class="t4">
		<TR>
			<TD class="tr0 td0"><P class="p20 ft11">OF’ESA</P></TD>
			<TD class="tr0 td1"><P class="p20 ft11"><NOBR>119-121</NOBR> rue Damrémont</P></TD>
			<TD class="tr0 td2"><P class="p21 ft11">75018 PARIS</P></TD>
		</TR>
		<TR>
			<TD class="tr1 td0"><P class="p20 ft14"><SPAN class="ft12">Courriel : </SPAN><SPAN class="ft13">contact@ofesa.org</SPAN></P></TD>
			<TD class="tr1 td1"><P class="p20 ft15">&nbsp;</P></TD>
			<TD class="tr1 td2"><P class="p22 ft12">site Internet : <SPAN class="ft13">www.ofesa.org</SPAN></P></TD>
		</TR>
		<TR>
			<TD class="tr2 td0"><P class="p20 ft11">Tél. : 01 48 07 60 31</P></TD>
			<TD class="tr2 td1"><P class="p20 ft16">&nbsp;</P></TD>
			<TD class="tr2 td2"><P class="p22 ft11">Fax : 01 48 07 52 11</P></TD>
		</TR>
	</TABLE>
</DIV>
</BODY>
</HTML>
