<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
    <HTML>
    <HEAD>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <META http-equiv="X-UA-Compatible" content="IE=8">
        <TITLE>Created by BCL easyConverter SDK 3 (HTML Version)</TITLE>
        <STYLE type="text/css">

            body {margin-top: 0px;margin-left: 0px;}

            #page_1 {position:relative; overflow: hidden;margin: 0px 0px 43px 60px;padding: 0px;border: none;width: 734px;}

            #page_1 #dimg1 {margin-bottom: 40px;}





            #page_2 {position:relative; overflow: hidden;margin: 143px 0px 49px 60px;padding: 0px;border: none;width: 734px;}

            #page_2 #dimg1 {position:absolute;top:121px;left:34px;z-index:-1;width:601px;height:601px;}
            #page_2 #dimg1 #img1 {width:601px;height:601px;}




            #page_3 {position:relative; overflow: hidden;margin: 114px 0px 49px 60px;padding: 0px;border: none;width: 734px;}

            #page_3 #dimg1 {position:absolute;top:150px;left:34px;z-index:-1;width:601px;height:601px;}
            #page_3 #dimg1 #img1 {width:601px;height:601px;}




            .dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

            .ft0{font: bold 19px 'Kalinga';line-height: 29px;}
            .ft1{font: bold 15px 'Kalinga';line-height: 22px;}
            .ft2{font: 15px 'Kalinga';line-height: 23px;}
            .ft3{font: 15px 'Kalinga';line-height: 20px;}
            .ft4{font: bold 15px 'Kalinga';text-decoration: underline;line-height: 22px;}
            .ft5{font: 15px 'Kalinga';line-height: 18px;}
            .ft6{font: 15px 'Kalinga';line-height: 19px;}
            .ft7{font: 15px 'Kalinga';line-height: 17px;}
            .ft8{font: 16px 'Kalinga';line-height: 17px;}
            .ft9{font: 15px 'Kalinga';line-height: 16px;}
            .ft10{font: 16px 'Kalinga';line-height: 16px;}
            .ft11{font: 15px 'Kalinga';line-height: 22px;}
            .ft12{font: 16px 'Kalinga';line-height: 22px;}
            .ft13{font: 12px 'Kalinga';line-height: 19px;}
            .ft14{font: 12px 'Kalinga';line-height: 16px;}
            .ft15{font: 12px 'Kalinga';text-decoration: underline;color: #0000ff;line-height: 16px;}
            .ft16{font: 12px 'Kalinga';color: #0000ff;line-height: 16px;}
            .ft17{font: 1px 'Kalinga';line-height: 16px;}
            .ft18{font: 1px 'Kalinga';line-height: 1px;}
            .ft19{font: 15px 'Kalinga';line-height: 21px;}
            .ft20{font: 14px 'Kalinga';line-height: 19px;}
            .ft21{font: 14px 'Kalinga';line-height: 20px;}
            .ft22{font: 1px 'Kalinga';line-height: 19px;}

            .p0{text-align: center;/*padding-left: 67px;margin-top: 148px;margin-bottom: 0px;*/}
            .p1{text-align: center;/*padding-left: 199px;margin-top: 9px;margin-bottom: 0px;*/}
            .p2{text-align: left;margin-top: 55px;margin-bottom: 0px;}
            .p3{text-align: left;margin-top: 10px;margin-bottom: 0px;}
            .p4{text-align: left;margin-top: 1px;margin-bottom: 0px;}
            .p5{text-align: left;margin-top: 9px;margin-bottom: 0px;}
            .p6{text-align: justify;padding-right: 64px;margin-top: 0px;margin-bottom: 0px;}
            .p7{text-align: left;padding-right: 404px;margin-top: 1px;margin-bottom: 0px;}
            .p8{text-align: left;margin-top: 2px;margin-bottom: 0px;}
            .p9{text-align: left;margin-top: 17px;margin-bottom: 0px;}
            .p10{text-align: justify;padding-left: 48px;padding-right: 64px;margin-top: 0px;margin-bottom: 0px;}
            .p11{text-align: justify;padding-left: 48px;margin-top: 0px;margin-bottom: 0px;}
            .p12{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
            .p13{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
            .p14{text-align: right;padding-right: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
            .p15{text-align: left;margin-top: 0px;margin-bottom: 0px;}
            .p16{text-align: justify;padding-right: 64px;margin-top: 13px;margin-bottom: 0px;}
            .p17{text-align: justify;padding-right: 64px;margin-top: 5px;margin-bottom: 0px;}
            .p18{text-align: left;margin-top: 18px;margin-bottom: 0px;}
            .p19{text-align: left;margin-top: 23px;margin-bottom: 0px;}
            .p20{text-align: justify;padding-right: 59px;margin-top: 1px;margin-bottom: 0px;}
            .p21{text-align: justify;padding-right: 64px;margin-top: 2px;margin-bottom: 0px;}
            .p22{text-align: justify;padding-right: 59px;margin-top: 0px;margin-bottom: 0px;}
            .p23{text-align: left;margin-top: 4px;margin-bottom: 0px;}
            .p24{text-align: left;margin-top: 33px;margin-bottom: 0px;}

            .td0{padding: 0px;margin: 0px;width: 281px;vertical-align: bottom;}
            .td1{padding: 0px;margin: 0px;width: 258px;vertical-align: bottom;}
            .td2{padding: 0px;margin: 0px;width: 161px;vertical-align: bottom;}
            .td3{padding: 0px;margin: 0px;width: 428px;vertical-align: bottom;}
            .td4{padding: 0px;margin: 0px;width: 126px;vertical-align: bottom;}
            .td5{padding: 0px;margin: 0px;width: 168px;vertical-align: bottom;}
            .td6{padding: 0px;margin: 0px;width: 398px;vertical-align: bottom;}

            .tr0{height: 23px;}
            .tr1{height: 16px;}
            .tr2{height: 19px;}
            .tr3{height: 22px;}
            .tr4{height: 26px;}
            .tr5{height: 18px;}

            .t0{width: 700px;margin-top: 45px;font: 12px 'Kalinga';}
            .t1{width: 700px;margin-top: 65px;font: 12px 'Kalinga';}
            .t2{width: 554px;margin-top: 57px;font: bold 15px 'Kalinga';}
            .t3{width: 596px;margin-top: 51px;font: 15px 'Kalinga';}
            .t4{width: 700px;margin-top: 480px;font: 12px 'Kalinga';}

            .border{border:1px solid black; margin:auto;}
            .centrer{text-align: center;}
            .bas{margin-bottom: 50px;}
            .indent{text-indent: 77px; margin-top: -1px;}
            li{text-align:justify; margin-right: 60px; margin-top:5px;}
            .left{text-align:left;}
        </STYLE>
    </HEAD>

    <BODY>

        <DIV id="dimg1" class="centrer bas">
            <IMG src="{{ webRootDir~asset('img/logos/logo-OFESA.jpg' ) }}" id="img1" alt="">
        </DIV>
        <DIV class="dclr"></DIV>
        <DIV class="border">
        <P class="p0 ft0">CONVENTION DE PARTENARIAT POUR LA MISE EN ŒUVRE</P>
        <P class="p1 ft0">DU CQP SALARIE POLYVALENT</P>
        </DIV>
        <DIV id="page_1">
        <P class="p2 ft1">La présente convention est conclue entre :</P>
        <P class="p3 ft1">D'une part,</P>
        <P class="p3 ft2">Raison sociale de la structure : {{ info.strNom }}</P>
        <P class="p4 ft2">SIRET : {{ info.strSiret }}</P>
        <P class="p4 ft2">Adresse : {{ info.strAdresse1 }} - {{ info.strCP }} {{ info.strVille }}</P>
        {% if info.strAdresse2 is defined and info.strAdresse2 is not empty %}
            <P class="p4 ft2 indent">{{ info.strAdresse2 }}</P>
        {% endif %}
        {% if info.strReponsable is defined and info.strReponsable is not empty %}
            <P class="p4 ft2">Représentée par : {{ info.strReponsable }}</P>
        {% endif %}
        {% if info.strFonction is defined and info.strFonction is not empty %}
            <P class="p4 ft2">En qualité de : {{ info.strFonction }}</P>
        {% endif %}
        <P class="p5 ft1">Et d'autre part,</P>
        <P class="p3 ft2">Nom de l'organisme de formation : OF'ESA</P>
        <P class="p6 ft3">N° de déclaration d'activité : 11755141875 auprès de la Direction Régionale du Travail, de l'Emploi et de la Formation Professionnelle d'Île de France</P>
        <P class="p4 ft2">SIRET : 79917710000010</P>
        <P class="p6 ft3">Adresse : <NOBR>119-121</NOBR>rue Damrémont – 75018 Paris </P>
        <P>Représenté par : Emmanuel STEPHANT</P>
        <P class="p8 ft2">En qualité de : Président</P>
        <P class="p9 ft4">Article 1 : Objet de la convention</P>
        <P class="p6 ft5">L’organisme de formation et la structure associent leurs compétences afin de développer et de mettre en œuvre les CQP Salarié Polyvalent à destination des salariés des Ateliers et Chantiers d’Insertion.</P>
        <P class="p6 ft6">La présente convention gère les relations entre les signataires de <NOBR>celle-ci</NOBR> pour permettre la mise en place des actions des modules de formations suivants :</P>
        <UL>
        <Li class="ft8"><SPAN class="ft7">Module M1 : </SPAN>Développer des comportements nécessaires à la réussite du parcours - comprendre et communiquer par l’oral - lire, comprendre et communiquer par l’écrit - appréhender l’espace et le temps - utiliser les mathématiques en situation professionnelle</Li>
        <LI class="ft8"><SPAN class="ft7">Module M2 : </SPAN>Utiliser les techniques de l’information et de la communication</LI>
        <LI class="ft10"><SPAN class="ft9">Module M3 : </SPAN>Développer la santé et sécurité au travail</LI>
        <LI class="ft12"><SPAN class="ft11">Module M4 : </SPAN>Mettre en œuvre des capacités professionnelles de base et réaliser des tâches professionnelles d’un métier</LI>
        </UL>
        <TABLE cellpadding=0 cellspacing=0 class="t0">
            <TR>
                <TD class="tr0 td0"><P class="p12 ft13">OF’ESA</P></TD>
                <TD class="tr0 td1"><P class="p12 ft13"><NOBR>119-121</NOBR> rue Damrémont</P></TD>
                <TD class="tr0 td2"><P class="p13 ft13">75018 PARIS</P></TD>
            </TR>
            <TR>
                <TD class="tr1 td0"><P class="p12 ft16"><SPAN class="ft14">Courriel : </SPAN><SPAN class="ft15">contact@ofesa.org</SPAN></P></TD>
                <TD class="tr1 td1"><P class="p12 ft17">&nbsp;</P></TD>
                <TD class="tr1 td2"><P class="p14 ft14">site Internet : <SPAN class="ft15">www.ofesa.org</SPAN></P></TD>
            </TR>
            <TR>
                <TD class="tr2 td0"><P class="p12 ft13">Tél. : 01 48 07 60 31</P></TD>
                <TD class="tr2 td1"><P class="p12 ft18">&nbsp;</P></TD>
                <TD class="tr2 td2"><P class="p14 ft13">Fax : 01 48 07 52 11</P></TD>
            </TR>
        </TABLE>
    </DIV>
    <DIV id="page_2">

        <P class="p15 ft4">Article 2 : Modalités de mise en œuvre</P>
        <P class="p16 ft7">L’organisme de formation s’assure de la bonne réalisation des actions convenues avec la structure et du respect du contenu du référentiel des formations. Dans ce cadre, l’organisme de formation s’engage à assurer la coordination des actions, à valider leur contenu et à transmettre à la structure tous les outils nécessaires et conformes aux exigences : feuilles d’émargements et de suivi des présences, livret de suivi, référentiels sur le CQP.</P>
        <P class="p17 ft19">L’organisme de formation mettra également à disposition sa banque de données pédagogiques développée et disponible en ligne.</P>
        <P class="p9 ft4">Article 3 : Engagements réciproques</P>
        <P class="p18 ft2">La structure s’engage à :</P>
        <UL>
        <LI class="ft7">Satisfaire aux conditions d’agrément définies par l’organisme certificateur du CQP</LI>
        <LI class="ft9">Identifier et faire valider par l’organisme de formation la ou les personne(s) référente(s) interne(s) pour le déroulement de l’action</LI>
        <LI class="ft9">Permettre au(x) référent(s) de disposer des moyens nécessaires au bon fonctionnement des actions</LI>
        <LI class="ft9">Mettre à disposition les moyens matériels et pédagogiques nécessaires au bon déroulement de l’action ainsi que les supports adaptés</LI>
        <LI class="ft9">Adapter l’organisation du travail et des plannings si nécessaire, pour toutes les personnes concernées par l’action</LI>
        <LI class="ft9">Transmettre à l’organisme de formation tous les éléments permettant d’attester du bon déroulement de l’action</LI>
        <LI class="ft9">Respecter les procédures administratives et le règlement de fonctionnement de l’action transmis par l’organisme de formation</LI>
        <LI class="ft9">Respecter la règlementation concernant la sécurité, l’hygiène et les conditions d’intervention concernant le support utilisé</LI>
        <LI class="ft6">Accueillir un intervenant habilité par l’organisme certificateur, CHANTIER école national, dans les 6 mois qui suivent la date de l’agrément (vérification de la mise en œuvre pédagogique, organisationnelle et/ou administrative).</LI>
        </UL>
        <P class="p19 ft2">L’organisme de formation s’engage à :</P>
        <UL>
        <LI class="ft7">Désigner un coordinateur de l’action</LI>
        <LI class="ft9">Appuyer, compléter et valider le contenu pédagogique,</LI>
        <LI class="ft9">Appuyer et coordonner le rôle des référents de la structure,</LI>
        <LI class="ft9">Assurer un lien permanent avec les organismes paritaires collecteurs agréés pour faciliter la gestion administrative et le financement des actions,</LI>
        <LI class="ft9">Développer et adapter les outils nécessaires à la réalisation des actions : livret de suivi, banque de données pédagogiques…</LI>
        <LI class="ft9">Valoriser auprès des partenaires publics et des financeurs les actions mises en place et ainsi contribuer à leur pérennisation;</LI>
        <LI class="ft2">Informer la structure sur toutes les modifications intervenues sur le dispositif.</LI>
        </UL>
        <P class="p9 ft4">Article 4 : Engagements financiers</P>
        <P class="p6 ft3">La structure bénéficiera d’un dédommagement forfaitaire pour l’ensemble des moyens engagés pour la mise en œuvre des actions et notamment, les supports pédagogiques et le salaire chargé de la mise à disposition des encadrants formateurs référents internes sur leurs temps</P>
        <TABLE cellpadding=0 cellspacing=0 class="t1">
            <TR>
                <TD class="tr0 td0"><P class="p12 ft13">OF’ESA</P></TD>
                <TD class="tr0 td1"><P class="p12 ft13"><NOBR>119-121</NOBR> rue Damrémont</P></TD>
                <TD class="tr0 td2"><P class="p13 ft13">75018 PARIS</P></TD>
            </TR>
            <TR>
                <TD class="tr1 td0"><P class="p12 ft16"><SPAN class="ft14">Courriel : </SPAN><SPAN class="ft15">contact@ofesa.org</SPAN></P></TD>
                <TD class="tr1 td1"><P class="p12 ft17">&nbsp;</P></TD>
                <TD class="tr1 td2"><P class="p14 ft14">site Internet : <SPAN class="ft15">www.ofesa.org</SPAN></P></TD>
            </TR>
            <TR>
                <TD class="tr2 td0"><P class="p12 ft13">Tél. : 01 48 07 60 31</P></TD>
                <TD class="tr2 td1"><P class="p12 ft18">&nbsp;</P></TD>
                <TD class="tr2 td2"><P class="p14 ft13">Fax : 01 48 07 52 11</P></TD>
            </TR>
        </TABLE>
    </DIV>
    <DIV id="page_3">


        <P class="p6 ft3">d’intervention, etc.… Les deux parties fixent le montant forfaitaire à 10 € par heure/stagiaire pour chaque stagiaire dont la formation « CQP Salarié Polyvalent ».</P>
        <P class="p21 ft19">La structure transmettra une facture trimestrielle par accord de prise en charge de l’OPCA et conforme aux heures réalisées à l’organisme de formation.</P>
        <P class="p9 ft4">Article 5 : Conséquences du non respect des engagements</P>
        <P class="p22 ft5">En cas de non respect des engagements prévus à l’article 3, ou de non respect du règlement de fonctionnement de la formation CQP Salarié Polyvalent annexé à la présente, il sera mis un terme aux actions engagées, à réception d’une lettre recommandée, avec accusé de réception.</P>
        <P class="p23 ft2">L’engagement financier sera dès lors limité aux heures réellement réalisées et attestées.</P>
        <P class="p9 ft4">Article 6 : Litiges et contentieux</P>
        <P class="p6 ft6">Les parties s’efforceront de résoudre à l’amiable les contestations qui pourraient surgir de l’interprétation ou de l’exécution de la présente convention. En cas de désaccord persistant, les tribunaux civils de Paris seront seuls compétents.</P>
        <P class="p24 ft2">Fait en double exemplaire à Paris, le « {{ "now"|date("d/m/Y","Europe/Paris") }} »</P>
        <TABLE cellpadding=0 cellspacing=0 class="t2">
            <TR>
                <TD class="tr3 td3"><P class="p12 ft1">Pour la structure</P></TD>
                <TD class="tr3 td4"><P class="p12 ft1">Pour l'organisme</P></TD>
            </TR>
        </TABLE>
        <TABLE cellpadding=0 cellspacing=0 class="t3">
            <TR>
                {% if info.strReponsable is defined and info.strReponsable is not empty %}
                    <TD class="tr4 td6"><P class="p12 ft2">{{ info.strReponsable }}</P></TD>
                 {% else %}
                    <TD class="tr4 td6"></TD>
                {% endif %}
                <TD class="tr4 td5"><P class="p12 ft21"><NOBR>Jean-Pierre</NOBR> PAUILLACQ</P></TD>
            </TR>
            <TR>
                {% if info.strFonction is defined and info.strFonction is not empty %}
                <TD class="tr5 td6"><P class="p12 ft5">{{ info.strFonction }}</P></TD>
                {% else %}
                    <TD class="tr5 td6"></TD>
                {% endif %}
                <TD class="tr5 td5"><P class="p12 ft5">Président</P></TD>
            </TR>
            <TR>
                <TD class="tr2 td6"><P class="p12 ft13">(Cachet – Signature)</P></TD>
                <TD class="tr2 td5"><P class="p12 ft22">&nbsp;</P></TD>
            </TR>
        </TABLE>
        <TABLE cellpadding=0 cellspacing=0 class="t4">
            <TR>
                <TD class="tr0 td0"><P class="p12 ft13">OF’ESA</P></TD>
                <TD class="tr0 td1"><P class="p12 ft13"><NOBR>119-121</NOBR> rue Damrémont</P></TD>
                <TD class="tr0 td2"><P class="p13 ft13">75018 PARIS</P></TD>
            </TR>
            <TR>
                <TD class="tr1 td0"><P class="p12 ft16"><SPAN class="ft14">Courriel : </SPAN><SPAN class="ft15">contact@ofesa.org</SPAN></P></TD>
                <TD class="tr1 td1"><P class="p12 ft17">&nbsp;</P></TD>
                <TD class="tr1 td2"><P class="p14 ft14">site Internet : <SPAN class="ft15">www.ofesa.org</SPAN></P></TD>
            </TR>
            <TR>
                <TD class="tr2 td0"><P class="p12 ft13">Tél. : 01 48 07 60 31</P></TD>
                <TD class="tr2 td1"><P class="p12 ft18">&nbsp;</P></TD>
                <TD class="tr2 td2"><P class="p14 ft13">Fax : 01 48 07 52 11</P></TD>
            </TR>
        </TABLE>
    </DIV>
    </body>
</HTML>
