<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Emargement</title>
	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ webRootDir~asset('fonts/glyphicons_pro/glyphicons.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ webRootDir~asset('css/emargement.css') }}">
</head>
<body id="print">

{% for participant in participants %}
	<div class="page">

		<div class="row">
			<div class="col-xs-2">
                {% if opca is defined %}
					<img src="{{ webRootDir~asset('img/logos/logo-' ~ (opca | lower) ~ '.png') }}" class="little" alt="logo {{ opca }}" style="max-height:100px;width:initial;" />
                {% endif %}
			</div>
			<div class="col-xs-8">
				<h1 class="ta-center">LISTE D'EMARGEMENT (une feuille d'émargement par stagiaire ET par mois)</h1>
			</div>
			<div class="col-xs-2">
				<img src="{{ webRootDir~asset('img/logos/logo-OFESA.jpg') }}" alt="logo Of'ESA" />
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 ta-center">
				<h2><b>CQP "{{ participant.prcDcont.cntTiers.trsType.ttyType }}"</b></h2>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-4">
				<b>TYPE DE FORMATION<br /><br /></b>
				<b><span class="module-type">{{ participant.prcModule.modCode }}</span> {{ participant.prcModule.modIntitule }}</b>
			</div>
			<div class="col-xs-4 ta-center">
				<b>{{ participant.prcType.mtyType }}</b>
			</div>
			<div class="col-xs-1  col-xs-offset-3 ta-right">
				<img src="{{ webRootDir~asset('img/logos/logo-ACI.jpg') }}" alt="logo ACI"/>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-4">
				<b>N° PRISE EN CHARGE FINANCIERE :</b> {{ participant.prcDcont.cntDAF.dafDossier }}
			</div>
			<div class="col-xs-4">
				<b>NOM DE L'ORGANISME DE FORMATION :</b>  {{ participant.prcStructure.strNom }}
			</div>
			<div class="col-xs-4">
				<b>RAISON SOCIALE DE L'EMPLOYEUR :</b> {{ participant.prcDcont.cntTiers.trsStructure.strNom }}<br />
				<b>N°ICOM EMPLOYEUR :</b> {{ participant.prcDcont.cntTiers.trsStructure.strIncom }}
			</div>
		</div>

		<div class="row">
			<div class="col-xs-4">
				<b>NOM ET PRENOM DU STAGIAIRE :</b> {{ participant.prcDcont.cntTiers.trsNom }} {{ participant.prcDcont.cntTiers.trsPrenom }}
			</div>
		</div>

		<div class="row">
			<div class="col-xs-2">
                {% if date is defined %}
					<b>Période :</b> du {{ date|date('01/m/Y') }} au {{ date|date('t/m/Y') }}
                {% else %}
					<b>Période :</b> du {{ participant.prcPresence.0.pscSession.sesDate|date('01/m/Y') }} au {{ participant.prcPresence.0.pscSession.sesDate|date('t/m/Y') }}
                {% endif %}
			</div>
			<div class="col-xs-6">
			</div>
			<div class="col-xs-4">
				<b>Nombre total d'heures de formations sur la période : </b>&nbsp;{{  participant.totalHeures(date) }}
                {#<b>Nombre total d'heures de formations sur la période : </b>&nbsp;{{  participant.totalHeures(participant.prcPresence.0.pscSession.sesDate) }}#}

			</div>
		</div>

		<div class="row sessions mt10">
            {% for i in 0..10  %}
				<div class="col-xs-1 contener {% if loop.last %}br{% endif %}">
					<div class="col-xs-12 h15">
                        {% if participant.prcPresence[i] is defined %}
                            {{ participant.prcPresence[i].pscSession.sesDate|date('d/m/Y') }}
                        {% endif %}
					</div>
					<div class="col-xs-6 h45">
						<p>Heure déb</p>
                        {% if participant.prcPresence[i] is defined %}
							<p>{{ participant.prcPresence[i].pscSession.sesHeureDebut }}</p>
                        {% endif %}
					</div>
					<div class="col-xs-6 h45">
						<p>Heure fin</p>
                        {% if participant.prcPresence[i] is defined %}
							<p>{{ participant.prcPresence[i].pscSession.sesHeureFin }}</p>
                        {% endif %}
					</div>
					<div class="col-xs-12">
						Signature du stagiaire:
					</div>
					<div class="col-xs-12 sign">
					</div>
					<div class="col-xs-12">
						Nom et signature du formateur:
					</div>
					<div class="col-xs-12 sign">
                        {% if participant.prcPresence[i].pscSession.sesAnimations[0] is defined %}
                            {{ participant.prcPresence[i].pscSession.sesAnimations[0].aniTiers.trsNom }} {{ participant.prcPresence[i].pscSession.sesAnimations[0].aniTiers.trsPrenom }}
                        {% endif %}
					</div>
					<div class="col-xs-12 h15">
                        {% if participant.prcPresence[i] is defined %}
                            {{ participant.prcPresence[i].pscSession.sesFType.ftyType }}
                        {% endif %}
					</div>
				</div>
            {% endfor %}
		</div>

		<div class="row sessions">
            {% for i in 0..10  %}
				<div class="col-xs-1 contener {% if loop.last %}br{% endif %}">
					<div class="col-xs-12 h15">
                        {% if participant.prcPresence[i + 10] is defined %}
                            {{ participant.prcPresence[i + 10].pscSession.sesDate|date('d/m/Y') }}
                        {% endif %}
					</div>
					<div class="col-xs-6 h45">
						<p>Heure déb</p>
                        {% if participant.prcPresence[i + 10] is defined %}
							<p>{{ participant.prcPresence[i + 10].pscSession.sesHeureDebut }}</p>
                        {% endif %}
					</div>
					<div class="col-xs-6 h45">
						<p>Heure fin</p>
                        {% if participant.prcPresence[i + 10] is defined %}
							<p>{{ participant.prcPresence[i + 10].pscSession.sesHeureFin }}</p>
                        {% endif %}
					</div>
					<div class="col-xs-12">
						Signature du stagiaire:
					</div>
					<div class="col-xs-12 sign">
					</div>
					<div class="col-xs-12">
						Nom et signature du formateur:
					</div>
					<div class="col-xs-12 sign">
                        {% if participant.prcPresence[i + 10].pscSession.sesAnimations[0] is defined %}
                            {{ participant.prcPresence[i + 10].pscSession.sesAnimations[0].aniTiers.trsNom }} {{ participant.prcPresence[i + 10].pscSession.sesAnimations[0].aniTiers.trsPrenom }}
                        {% endif %}

					</div>
					<div class="col-xs-12 h15 bb">
                        {% if participant.prcPresence[i + 10] is defined %}
                            {{ participant.prcPresence[i + 10].pscSession.sesFType.ftyType }}
                        {% endif %}
					</div>
				</div>
            {% endfor %}
		</div>

		<div class="row mt10">
			<div class="col-xs-4 col-xs-offset-1 fs14">
				<b>Cachet de l'organismse de formation :</b>
			</div>
		</div>

	</div>

{% else %}
	<div class="page">

		<div class="row">
			<div class="col-xs-2">
                {% if opca is defined %}
					<img src="{{ webRootDir~asset('img/logos/logo-' ~ (opca | lower) ~ '.png') }}" class="little" alt="logo {{ opca }}" style="max-height:100px;width:initial;" />
                {% endif %}
			</div>
			<div class="col-xs-8">
				<h1 class="ta-center">LISTE D'EMARGEMENT (une feuille d'émargement par stagiaire ET par mois)</h1>
			</div>
			<div class="col-xs-2">
				<img src="{{ webRootDir~asset('img/logos/logo-OFESA.jpg') }}" alt="logo Of'ESA" />
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 ta-center">
				<h2><b>Aucune session ne correspond à cette sélection</b></h2>
			</div>
		</div>
	</div>
{% endfor %}

</body>
</html>
