<!DOCTYPE html>
<html>
    <head>
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <title>CeSymfony</title>
        <meta name="keywords" content="HTML5 Bootstrap 3 Admin Template UI Theme" />
        <meta name="description" content="Site Intranet de Chantier Ecole et OF'ESA">
        <meta name="author" content="Maël ORTIE">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Core CSS  -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/plugin/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/plugin/font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('fonts/glyphicons_pro/glyphicons.min.css') }}">

        <!-- Theme CSS -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/theme.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/pages.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/plugins.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/responsive.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/plugin/dataTable.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/plugin/chosen.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Start: Header -->
        <header class="navbar navbar-fixed-top">
            <div class="pull-left">
                <a class="navbar-brand" href="{{ path('dashboard') }}">
                    <div class="navbar-logo"><img src="{{ asset('img/logos/logo-ceofesa.png') }}" class="img-responsive" alt="logo"/></div>
                </a>
            </div>
            <div class="pull-right header-btns">
            	{% if is_granted('ROLE_ADMIN') %}
	            	<div class="header-txt">
	            		<p>Changer de Structure :</p>
	            	</div>
	            	<div class="btn-group struct-menu">
	                    <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">&nbsp;<span class="caret"></span> </button>
	                    <ul class="dropdown-menu" role="menu" id="strSelect">
	                    	<li><a href="#">Loading</a></li>
	                    </ul>
	                </div>
                {% endif %}
                <div class="user-menu">
                    <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"> <span class="glyphicons glyphicons-user"></span> <b> {{ app.user.username }} - {{app.user.structure.strNom }}</b> </button>
                    <ul class="dropdown-menu checkbox-persist" role="menu">
                        <li class="menu-arrow">
                            <div class="menu-arrow-up"></div>
                        </li>
                        <li class="dropdown-header">Votre Compte<span class="pull-right glyphicons glyphicons-user"></span></li>
                        <li>
                            <ul class="dropdown-items">
                                <li class="padding-none">
                                    <div class="dropdown-lockout"></div>
                                    <div class="dropdown-signout"><i class="fa fa-sign-out"></i> <a href="{{ path('fos_user_security_logout') }}">Deconnexion</a></div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- End: Header -->
        <!-- Start: Main -->
        <div id="main">
        <!-- Start: Sidebar -->
            <aside id="sidebar">
                <div id="sidebar-search">
                    <div class="sidebar-toggle"> <span class="glyphicon glyphicon-resize-horizontal"></span> </div>
                </div>
                <div id="sidebar-menu">
                    {% if is_granted('ROLE_ADMIN') %}
                    <ul class="nav sidebar-nav">
                        <li>
                            <a class="accordion-toggle" href="#sideOne"><span class="glyphicons glyphicons-adjust_alt"></span><span class="sidebar-title">Administration</span><span class="caret"></span></a>
                            <ul style="" id="sideOne" class="nav sub-nav">
                                <li>
                                    <a class="accordion-toggle" href="#sideOne-sub"><span class="glyphicons glyphicons-user"></span><span class="sidebar-title">Utilisateurs</span><span class="caret"></span></a>
                                    <ul id="sideOne-sub" class="nav sub-nav">
                                        <li>
                                            <a href="{{ path('fos_user_registration_register') }}"><span class="glyphicons glyphicons-user_add"></span> Nouvel Utilisateur </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('users_gestion') }}"><span class="glyphicons glyphicons-list"></span> Liste des utilisateurs </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('admin_email') }}"><span class="glyphicons glyphicons-e-mail"></span> Envoyer un e-mail </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="accordion-toggle" href="#sideTwo-sub"><span class="glyphicons glyphicons-building"></span><span class="sidebar-title">Structures</span><span class="caret"></span></a>
                                    <ul id="sideTwo-sub" class="nav sub-nav">
                                        <li>
                                            <a href="{{ path('structure_new') }}"><span class="glyphicons glyphicons-circle_plus"></span> Nouvelle Structure</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('structure') }}"><span class="glyphicons glyphicons-list"></span> Liste des structures </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{{ path('devis_gestion') }}"><span class="glyphicons glyphicons-file_import"></span> Devis en cours </a>
                                </li>
                                <li>
                                    <a href="{{ path('general_dashboard') }}"><span class="glyphicons glyphicons-dashboard"></span> Dashboard general </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                    <ul class="nav sidebar-nav">
                        <li>
                            <a href="{{ path('structure_dashboard') }}"><span class="glyphicons glyphicons-dashboard"></span><span class="sidebar-title">Dashboard</span></a>
                        </li>
                    </ul>
                    <ul class="nav sidebar-nav">
                        <li>
                            <a href="{{ path('detail_ma_structure') }}"><span class="glyphicons glyphicons-building"></span><span class="sidebar-title">Ma structure</span></a>
                        </li>
                    </ul>
                    {% if is_granted('ROLE_USER') %}
                    <ul class="nav sidebar-nav">
                        <li>
                            <a class="accordion-toggle" href="#sideEight"><span class="glyphicons glyphicons-group"></span><span class="sidebar-title">Stagiaires</span><span class="caret"></span></a>
                            <ul id="sideEight" class="nav sub-nav">
                                <li>
                                    <a href="{{ path('stagiaire_create') }}"><span class="glyphicons glyphicons-user_add"></span> Ajouter un stagiaire </a>
                                </li>
                                <li>
                                    <a href="{{ path('stagiaire_list') }}"><span class="glyphicons glyphicons-group"></span> Liste des stagiaires </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav sidebar-nav">
                        <li>
                            <a class="accordion-toggle" href="#sideEight"><span class="glyphicons glyphicons-briefcase"></span><span class="sidebar-title">Sous-traitants</span><span class="caret"></span></a>
                            <ul id="sideEight" class="nav sub-nav">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('structure_new') }}"><span class="glyphicons glyphicons-user_add"></span>Créer un sous-traitant</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('soustraitant_add_relation') }}"><span class="glyphicons glyphicons-link"></span>Lier un sous-traitant</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('soustraitant_list') }}"><span class="glyphicons glyphicons-list"></span> Liste sous-traitants </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav sidebar-nav">
                        <li>
                            <a class="accordion-toggle" href="#sideEight"><span class="glyphicons glyphicons-file"></span><span class="sidebar-title">Devis</span><span class="caret"></span></a>
                            <ul id="sideEight" class="nav sub-nav">
                                <li>
                                    <a href="{{ path('devis_new') }}"><span class="glyphicons glyphicons-file_import"></span> Créer un devis </a>
                                </li>
                                <li>
                                    <a href="{{ path('devis') }}"><span class="glyphicons glyphicons-more_items"></span> Liste des devis </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav sidebar-nav">
                        <li>
                            <a class="accordion-toggle" href="#sideEight"><span class="glyphicons glyphicons-file"></span><span class="sidebar-title">APC</span><span class="caret"></span></a>
                            <ul id="sideEight" class="nav sub-nav">
                                {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('new_daf') }}"><span class="glyphicons glyphicons-file_import"></span> Créer un APC </a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('daf') }}"><span class="glyphicons glyphicons-more_items"></span> Liste des APC </a>
                                </li>
                                <li>
                                    <a href="{{ path('bcd_index') }}"><span class="glyphicons glyphicons-more_items"></span> Bons de commande </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav sidebar-nav">
                        <li>
                            <a class="accordion-toggle" href="#sideEight"><span class="glyphicons glyphicons-user"></span><span class="sidebar-title">Formateurs</span><span class="caret"></span></a>
                            <ul id="sideEight" class="nav sub-nav">
                                <li>
                                    <a href="{{ path('formateur_create') }}"><span class="glyphicons glyphicons-user_add"></span> Ajouter un formateur </a>
                                </li>
                                <li>
                                    <a href="{{ path('formateur_list') }}"><span class="glyphicons glyphicons-group"></span> Liste des formateurs </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav sidebar-nav">
                        <li>
                            <a class="accordion-toggle" href="#sideEight"><span class="glyphicons glyphicons-clock"></span><span class="sidebar-title">Gérer les sessions</span><span class="caret"></span></a>
                            <ul id="sideEight" class="nav sub-nav">
                                <li>
                                    <a href="{{ path('session_create') }}"><span class="glyphicons glyphicons-file_import"></span> Créer une session</a>
                                </li>
                                <li>
                                    <a href="{{ path('session_index') }}"><span class="glyphicons glyphicons-file"></span> Liste par dates </a>
                                </li>
                                <li>
                                    <a href="{{ path('session_stagiaire_list') }}"><span class="glyphicons glyphicons-user"></span> Liste par Stagiaires </a>
                                </li>
                                <li>
                                    <a href="{{ path('session_stagiaire_list_print') }}"><span class="glyphicons glyphicons-print"></span> Feuilles d'émargement </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </aside>
            <!-- End: Sidebar -->
            <!-- Start: Content -->
            <section id="content">
                <div class="container">

                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="alert alert-info" role="alert">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger" role="alert">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}

                    {% block body %}{% endblock %}
                </div>
            </section>
        </div>
        <!-- End: Content -->
        <!-- Core Javascript - via CDN -->

        {% include ':Modal:modal-confirm.html.twig' %}

        <script type="text/javascript" src="{{ asset('js/plugin/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugin/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugin/dataTable.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugin/chosen.jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugin/bootstrap-confirm.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <!-- View Javascript -->
        {% block javascripts %}{% endblock %}

        <!-- Theme Javascript -->
        <script type="text/javascript">
 			var urlAjax1 = '{{ path("structure_change") }}';
 			var urlAjax2 = '{{ path("structure_session") }}';
 			var urlAjax3 = '{{ path("change_session") }}';
 		</script>
        <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>

    </body>
</html>
