{% extends '::layout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-visible">
            <div class="panel-heading">
                <div class="panel-title hidden-xs"> <span class="glyphicon glyphicon-user"></span>Modification du Sous-Traitant </div>
            </div>
            <div class="panel-body">
                <div class="panel-body padding-bottom-none">
                    {{ form_start(edit_form) }}
                    {{ form_errors(edit_form) }}

                    <div class="col-md-6">
                        {{ form_row(edit_form.strNom) }}
                        {{ form_row(edit_form.strAdresse1) }}
                        {{ form_row(edit_form.strAdresse2) }}
                        {{ form_row(edit_form.strCp) }}
                        {{ form_row(edit_form.strVille) }}
                        {{ form_row(edit_form.strSiret) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(edit_form.strTelephone) }}
                        {{ form_row(edit_form.strEmail) }}
                        {{ form_row(edit_form.strReponsable) }}
                        {{ form_row(edit_form.strFonction) }}
                        {{ form_row(edit_form.strRegion) }}
                    </div>
                    <div class="col-md-12">
                        {% block form_row %}
                            {{ form_widget(edit_form.enregistrer) }}
                        {% endblock form_row %}
                        <a href="{{ path('soustraitant_show', { 'id': entity.strId }) }}">
                            <button type="button" class="btn btn-light4 spacing-button">
                                Retour
                            </button>
                        </a>
                    </div>

                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}