{% extends '::layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-visible">
            <div class="panel-heading">
                <div class="panel-title hidden-xs"><span class="glyphicon glyphicon-list"></span> Liste des Sous-Traitants </div>
            </div>
            <div class="panel-body padding-bottom-none">
                <div class="clearfix"></div>
                <table class="table table-striped table-bordered table-hover dataTable" id="datatable">
                    <thead>
                        <tr role="row">
                            <th>Nom</th>
                            <th>Siret</th>
                            <th>Reponsable</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.strNom }}</td>
                            <td>{{ entity.strSiret }}</td>
                            <td>{{ entity.strReponsable }}</td>
                            <td class="text-center">
                                <a href="{{ path('soustraitant_show', { 'id': entity.strId }) }}">
                                    <button type="button" class="btn btn-green3 btn-xs">
                                        <i class="fa fa-eye"></i> Voir
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br />
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-9 ta-right">
                        <a href="{{ path('soustraitant_add_relation') }}" class="btn btn-primary">Ajouter un sous-traitant à cette structure</a>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}