{% extends '::layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-visible">
            <div class="panel-heading">
                <div class="panel-title hidden-xs"><span class="glyphicon glyphicon-list"></span> Liste des Sous-Traitants </div>
            </div>
            <div class="panel-body padding-bottom-none">
                <div class="clearfix"></div>
                <table class="table table-striped table-bordered table-hover dataTable" id="datatable">
                    <thead>
                        <tr role="row">
                            <th>Nom</th>
                            <th>Siret</th>
                            <th>Reponsable</th>
                            <th>OF</th>
                            <th>Convention envoyée</th>
                            <th>Convention revenue</th>
                            <th>Avenant envoyé</th>
                            <th>Avenant revenu</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in relations %}
                        <tr>
                            <td>{{ entity.relSoustraitant.strNom }}</td>
                            <td>{{ entity.relSoustraitant.strSiret }}</td>
                            <td>{{ entity.relSoustraitant.strReponsable }}</td>
                            <td>{{ entity.relOf.strNom }}</td>
                            {% if entity.relEnvoiConvention %}
                                {% if entity.relDateenvoiconvention %}
                                    <td>{{ entity.relDateenvoiconvention|date("d/m/Y") }}</td>
                                 {% else %}
                                    <td>envoyée</td>
                                {% endif %}
                            {% else %}
                                <td>non envoyée</td>
                            {% endif %}

                            {% if entity.relRetourConvention %}
                                {% if entity.relDateretourconvention %}
                                    <td>{{ entity.relDateretourconvention|date("d/m/Y") }}</td>
                                {% else %}
                                    <td>reçue</td>
                                {% endif %}
                            {% else %}
                                <td>non reçue</td>
                            {% endif %}

                            {% if entity.relEnvoiavenant %}
                                {% if entity.relDateenvoiavenant %}
                                    <td>{{ entity.relDateenvoiavenant|date("d/m/Y") }}</td>
                                {% else %}
                                    <td>envoyé</td>
                                {% endif %}
                            {% else %}
                                <td>non envoyé</td>
                            {% endif %}

                            {% if entity.relRetouravenant %}
                                {% if entity.relDateretouravenant %}
                                    <td>{{ entity.relDateretouravenant|date("d/m/Y") }}</td>
                                {% else %}
                                    <td>reçu</td>
                                {% endif %}
                            {% else %}
                                <td>non reçu</td>
                            {% endif %}
                            <td class="text-center">
                                <a href="{{ path('soustraitant_show', { 'id': entity.relSoustraitant.strId }) }}">
                                    <button type="button" class="btn btn-green3 btn-xs">
                                        <i class="fa fa-eye"></i> Voir
                                    </button>
                                </a>

                                <!-- <a href="{{ path('structure_edit', { 'id': entity.relSoustraitant.strId }) }}"> -->
                                <a href="{{ path('soustraitant_edit', { 'id': entity.relId }) }}">
                                    <button type="button" class="btn btn-blue4 btn-xs">
                                        <i class="fa fa-pencil"></i> Editer
                                    </button>
                                </a>

                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('soustraitant_convention_print', { 'id': entity.relId }) }}">
                                        <button type="button" class="btn btn-blue3 btn-xs">
                                            <i class="fa fa-print"></i> Imprimer la convention
                                        </button>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br />
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}
