{% extends '::layout.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-visible">
            <div class="panel-heading">
                <div class="panel-title hidden-xs"><span class="glyphicon glyphicon-search"></span> Détails du sous-traitant</div>
            </div>
            <div class="panel-body">
                <table class="record_properties table table-bordered">
                    <tbody>
                        <tr>
                            <th>Nom</th>
                            <td>{{ entity.strNom }}</td>
                        </tr>
                        <tr>
                            <th>Adresse1</th>
                            <td>{{ entity.strAdresse1 }}</td>
                        </tr>
                        <tr>
                            <th>Adresse2</th>
                            <td>{{ entity.strAdresse2 }}</td>
                        </tr>
                        <tr>
                            <th>Code Postal</th>
                            <td>{{ entity.strCp }}</td>
                        </tr>
                        <tr>
                            <th>Ville</th>
                            <td>{{ entity.strVille }}</td>
                        </tr>
                        <tr>
                            <th>Region</th>
                            <td>
                            {% if entity.strRegion %}
                                {{ entity.strRegion.regNom }}
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Numéro Siret</th>
                            <td>{{ entity.strSiret }}</td>
                        </tr>
                        <tr>
                            <th>Numéro OF</th>
                            <td>{{ entity.strNumof }}</td>
                        </tr>
                        <tr>
                            <th>Téléphone</th>
                            <td>{{ entity.strTelephone }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ entity.strEmail }}</td>
                        </tr>
                        <tr>
                            <th>Reponsable</th>
                            <td>{{ entity.strReponsable }}</td>
                        </tr>
                        <tr>
                            <th>Fonction</th>
                            <td>{{ entity.strFonction }}</td>
                        </tr>
                    </tbody>
                </table>

                <br/>

                <a href="{{ path('soustraitant_list') }}">
                    <button type="button" class="btn btn-light4">
                        Retour à la liste
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
{% endblock %}