{% extends '::layout.html.twig' %}

{% form_theme choose_form 'bootstrap_3_layout.html.twig' %}

{% block body %}
<div class="row select-session-form">
	<div class="col-md-12">
		<div class="panel panel-visible">
			 <div class="panel-body">
				{{ form_start(choose_form) }}
                {{ form_errors(choose_form) }}

                <div class="row">
	                <div class="col-md-3" id="select_module">
	                	{{ form_label(choose_form.module) }}
	                    {{ form_widget(choose_form.module) }}
	                    {{ form_errors(choose_form.module) }}
	                </div>
	                <div class="col-md-3" id="select_typemod">
	                	{{ form_label(choose_form.type) }}
	                    {{ form_widget(choose_form.type) }}
	                    {{ form_errors(choose_form.type) }}
	                </div>
	                <div class="col-md-3" id="select_OF">
	                	{{ form_label(choose_form.of) }}
	                    {{ form_widget(choose_form.of) }}
	                    {{ form_errors(choose_form.of) }}
	                </div>
	                <div class="col-md-3">
	                	{{ form_row(choose_form.voir) }}
	                </div>
                </div>

                {{ form_end(choose_form) }}
                 <div class="alert alert-warning no-result">
                 	
                 </div>
			</div>
		</div>
	</div>	
</div>
{% if entities is defined and of is defined and module is defined and type is defined %}
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-visible margin-bottom-none">
				<div class="panel-heading">
	                <div class="panel-title hidden-xs"><span class="glyphicon glyphicon-search"></span> Résultats pour le module {{ module.modCode }} avec le type {{ type.mtyType }} pour l'OF {{ of.strNom }} </div>
	            </div>
	            <div class="panel-body">
                <div class="clearfix"></div>

					{% if entities is empty %}
						<p>Il n'y a pas de données</p>
					{% else %}
						<div class="col-md-4">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>ID</th>
											<th>Date</th>
											<th>Type</th>
											<th>Durée</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										{% for entity in entities %}
										<tr>
											<td>{{ entity.sesId }}</td>
											<td>{{ entity.sesDate|date('d-m-Y') }}</td>
											<td>{{ entity.sesStype.styType }}</td>
											<td>
												{% if entity.sesDuree != "0.00" %}
													{{ entity.sesDuree }}
												{% else %}
													-
												{% endif %}
											</td>
											<td class="text-center">
                                    			<button type="button" class="btn btn-blue3 btn-xs btn-voir" data-entityid="{{entity.sesId|default('')}}">
                                        			<i class="fa fa-eye"></i> Détails
                                    			</button>
	                                		</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							<a href="{{ path('session_create', { 'module': module.modId,'type': type.mtyId,'of': of.strId }) }}">
								<button type="button" class="btn btn-primary btn-lg btn-block btn-square"> Ajouter une session </button>
							</a>
						</div>
						<div class="col-md-8">
							<div class="jumbotron">
								<h3>Détails</h3>
								<div class="row detail-session">
									<div class="col-md-4">
										<label>Date :</label>
										<input disabled class="dateSession"></input>
									</div>
									<div class="col-md-4">
										<label>Heure de début :</label>
										<input disabled class="HDebutSession"></input>
									</div>
									<div class="col-md-4">
										<label>Heure de fin :</label>
										<input disabled class="HFinSession"></input>
									</div>
									<div class="col-md-4">
										<label>Durée :</label>
										<input disabled class="DureeSession"></input>
									</div>
									<div class="col-md-4">
										<label>Séance :</label>
										<input disabled class="TypeSeance"></input>
									</div>
									<div class="col-md-4">
										<label>Type de Formation :</label>
										<input disabled class="TypeFormation"></input>
									</div>
									<div class="modifDetailBtn"></div>
								</div>
								<div class="presences">
									
								</div>
							</div>
						</div>
					{% endif %}

				</div>
			</div>
		</div>
	</div>
{% endif %}

{% endblock %}
{% block javascripts %}
<script type="text/javascript">

$(document).ready(function() {
	// Modification dynamique du champ "OF" du formulaire en fonction du champ "Type" et "Module"
    var url = "{{ path('session_ajax') }}";
    var modSelect  = $( "#select_module select" );
    var typeSelect	= $( "#select_typemod select" );
    var OFSelect	= $( "#select_OF select" );

    function changeOF(modSelect,typeSelect) {
    	$(".no-result").hide();
    	var module_id = modSelect.val();
	    var type_id = typeSelect.val();
	    /*alert(modSelect.val() + typeSelect.val());*/
	    $.ajax({  
	    	type: "POST",
	    	url: url,
	    	data: {'module_id':module_id,'type_id':type_id},
        	dataType: 'json',
        	timeout: 30000,
        	success: function (data) {
     			var noResult = 1;
        		$(OFSelect).html('');
        		$.each(data, function(index){
		        	var id      = data[index].id;
		            var name    = data[index].nom;
		            $(OFSelect).append('<option value="'+id+'">'+name+'</option>');
		            noResult = 0;
		    	});
		    	if(noResult==1){
		    		$(".no-result").html('Pas de Sessions existantes pour le module M'+modSelect.val()+' avec ce type');
		    		$(".no-result").show();
		    	}
        	},
        	error: function(exception){
          		alert('Erreur, la connexion au serveur a été interrompue');
        	}
        });
	};

	function detailSession(id) {
		$.ajax({
            type: "POST",
            url: "{{ path('details_session_ajax') }}",
            data: 'id=' + id,
            timeout: 10000,
            success: function(data){
            	$("input.dateSession").val(data['date']);
            	$("input.HDebutSession").val(data['hDebut']);
            	$("input.HFinSession").val(data['hFin']);
            	$("input.DureeSession").val(data['duree']);
            	$("input.TypeSeance").val(data['seance']);
            	$("input.TypeFormation").val(data['formation']);
            	var id = data['id'];
            	var button = '<a href="{{ path("session_edit", { "id":"variable"}) }}"><button type="button" class="btn btn-blue4 btn-xs"><i class="fa fa-pencil"></i> Editer</button></a>';
            	button = button.replace("variable", id);
            	$(".modifDetailBtn").html(button);
                /*alert(JSON.stringify(data));*/
            },
            error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText); //Ce code affichera le message d'erreur, ici Message d'erreur.
			}
        });
	};

	changeOF(modSelect,typeSelect);

    typeSelect.change(function(){
    	changeOF(modSelect,typeSelect); 
    });

    modSelect.change(function(){
    	changeOF(modSelect,typeSelect); 
    });
        
    $("body").on("click",".btn-voir", function(){  
    	var entityid = $(this).data("entityid");
    	detailSession(entityid);
    });
    
});
</script>
{% endblock %}