{% extends '::layout.html.twig' %}

{% block body %}
    <div class="row">
		<div class="col-md-12">
			<div class="panel panel-visible margin-bottom-none">
				<div class="panel-heading">
	                <div class="panel-title hidden-xs"><span class="glyphicon glyphicon-search"></span> Stagiaire et sessions de la structure {{ structure.strNom }} </div>
	            </div>
	            <div class="panel-body">
	                <div class="clearfix"></div>
	                <div class="row">
		                <div class="col-md-12">
			                <p>Choisissez un stagiaire :</p>
			                <table class="js-data-table">
			                	<thead>
			                		<tr>
			                			<th>Nom</th>
			                			<th>Prénom</th>
			                			<th>DAF</th>
			                			<th>Module</th>
			                			<th>Type</th>
			                			<th>OF</th>
			                			<th>Action</th>
			                		</tr>
			                	</thead>
			                	<tbody>
					                {% for participant in participants %}
					                	<tr>
					                		<td>{{ participant.prcDcont.cntTiers.trsNom }}</td>
					                		<td>{{ participant.prcDcont.cntTiers.trsPrenom }}</td>
					                		<td>{{ participant.prcDcont.cntDaf.dafDossier }}</td>
					                		<td>{{ participant.prcModule.modCode }}</td>
					                		<td>{{ participant.prcType.mtyType }}</td>
					                		<td>{{ participant.prcDcont.cntDaf.dafOF.strNom }}</td>
					                		<td>
	                                			<button type="button" class="btn btn-blue3 btn-xs js-btn-voir" data-entityid="{{ participant.prcid }}">
	                                    			<i class="fa fa-eye"></i> Détails
	                                			</button>
					                		</td>
					                	</tr>
			                		{% endfor %}
			                	</tbody>
			                </table>
			            </div>
		            </div>

					<br /><br /><br />

            		<h3>Détails du Stagiaire :</h3>
	                <div class="row">
			            <div class="col-md-12" id="stagDetail">
			            	<div class="jumbotron">
			            		<div class="row detail-session">
									<div class="col-md-4">
										<label>Nom et Prenom :</label>
										<input disabled class="nomPrenom"></input>
									</div>
									<div class="col-md-4">
										<label>Nb Heures prévues pour ce parcours :</label>
										<input disabled class="nbHeurePrevParcours"></input>
									</div>
									<div class="col-md-4">
										<label>Nb Heures prévues pour cette DAF :</label>
										<input disabled class="nbHeurePrevDAF"></input>
									</div>
									<div class="col-md-4">
										<label>DAF :</label>
										<input disabled class="daf"></input>
									</div>
									<div class="col-md-4">
										<label>Nb Heures réalisées pour ce parcours :</label>
										<input disabled class="nbHeureReaParcours"></input>
									</div>
									<div class="col-md-4">
										<label>Nb Heures réalisées pour cette DAF :</label>
										<input disabled class="nbHeureReaDAF"></input>
									</div>
								</div>
			            	</div>
			            </div>
		            </div>
		            <div class="col-md-12">
		            	<h3>Liste des sessions du stagiaire :</h3>
						<div class="table-responsive list-session" id="table_sessions">
							<table class="table">
								<thead>
									<tr>
										<th>ID</th>
										<th>Date</th>
										<th>Type</th>
										<th>Durée</th>
										<th>Validé</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>	
		            </div>
		            <div class="col-md-12 infos-session">
						<div class="jumbotron">
							<h3>Informations de la session n°<span class="idSession"></span></h3>
							<div class="row detail-session">
								<div class="col-md-4">
									<label>Date :</label>
									<input disabled class="dateSession" />
								</div>
								<div class="col-md-4">
									<label>Heure de début :</label>
									<input disabled class="HDebutSession" />
								</div>
								<div class="col-md-4">
									<label>Heure de fin :</label>
									<input disabled class="HFinSession" />
								</div>
								<div class="col-md-4">
									<label>Durée :</label>
									<input disabled class="DureeSession" />
								</div>
								<div class="col-md-4">
									<label>Séance :</label>
									<input disabled class="TypeSeance" />
								</div>
								<div class="col-md-4">
									<label>Type de Formation :</label>
									<input disabled class="TypeFormation" />
								</div>
								<div class="col-md-12">
									<div class="modifDetailBtn"></div>
								</div>
							</div>
						</div>
						<div class="jumbotron">
							<h3>Formateur</h3>
							<div class="row formateur-session">
								<div class="listFormateur table-responsive"></div>
	                		</div>
						</div>
					</div>
	            </div>
            </div>
        </div>

{% endblock %}
{% block javascripts %}

<script type="text/javascript">

$(document).ready(function() {
	// Modification dynamique du champ "OF" du formulaire en fonction du champ "Type" et "Module"
    var modSelect  = $( "#select_module select" );
    var typeSelect	= $( "#select_typemod select" );
    var OFSelect	= $( "#select_OF select" );

    $(".infos-session").hide();

    function changeOF(modSelect,typeSelect) {
    	$(".no-result").hide();
    	var module_id = modSelect.val();
	    var type_id = typeSelect.val();

	    $.ajax({  
	    	type: "POST",
	    	url: "{{ path('session_ajax') }}",
	    	data: {'module_id':module_id,'type_id':type_id},
        	dataType: 'json',
        	timeout: 30000,
        	success: function (data) {
     			var noResult = 1;
        		$(OFSelect).html('');
        		$.each(data, function(index){
		        	var id      = data[index].id;
		            var name    = data[index].nom;
		            $(OFSelect).append('<option value="'+id+'">'+name+'</option>');
		            noResult = 0;
		    	});
		    	if(noResult==1){
		    		$(".no-result").html('Pas de Sessions existantes pour le module M'+modSelect.val()+' avec ce type');
		    		$(".no-result").show();
		    	}
        	},
        	error: function(exception){
          		alert('Erreur, la connexion au serveur a été interrompue');
        	}
        });
	};

	function listSessions(idParcours) {
		$.ajax({  
	    	type: "POST",
	    	url: "{{ path('stagiaire_list_ajax') }}",
	    	data: 'idParcours=' + idParcours,
        	dataType: 'json',
        	timeout: 30000,
        	success: function (data) {
        		$( "#table_sessions tbody" ).html('');
     			$.each(data, function(index){
     				$( "#table_sessions tbody" ).append('<tr><td>'+data[index].id+'</td><td>'+data[index].date+'</td><td>'+data[index].type+'</td><td class="js-length">'+data[index].duree+'</td><td class="js-validate">'+(data[index].validate ? 'Oui' : 'Non')+'</td><td class="text-center">'+ (data[index].validate == false && data[index].right ? '<button type="button" class="btn btn-green3 btn-xs js-btn-check" data-entityid="'+data[index].presenceId+'"><i class="fa fa-check"></i> Valider</button>' : '') + (data[index].validate == false ? ' <button type="button" class="btn btn-warning btn-xs js-btn-edit" data-entityid="' + data[index].presenceId + '"><i class="fa fa-edit"></i> Editer</button> ' : ' ' ) +  ' <button type="button" class="btn btn-blue3 btn-xs btn-voir" data-entityid="'+data[index].id+'"><i class="fa fa-eye"></i> Détails</button></td></tr>');
     			});
        	},
        	error: function(exception){
          		alert(exception.responseText);
        	}
        });
	};

	function detailStagiaire(idParcours) {
		$.ajax({  
	    	type: "POST",
	    	url: "{{ path('stagiaire_details_ajax') }}",
	    	data: 'idParcours=' + idParcours,
        	dataType: 'json',
        	timeout: 30000,
        	success: function (data) {
        		$("input.nomPrenom").val(data['nomPrenom']);
        		$("input.daf").val(data['daf']);
        		$("input.nbHeurePrevParcours").val(data['nbHeurePrevParcours']);
        		$("input.nbHeurePrevDAF").val(data['nbHeurePrevDAF']);
        		$("input.nbHeureReaParcours").val(data['nbHeureReaParcours']);
        		$("input.nbHeureReaDAF").val(data['nbHeureReaDAF']);
        	},
        	error: function(exception){
          		alert(exception.responseText);
        	}
        });
	};

	function detailSession(id) {
		$.ajax({
            type: "POST",
            url: "{{ path('details_session_ajax') }}",
            data: 'id=' + id,
            timeout: 10000,
            success: function(data){
            	var id = data['id'];
            	$("span.idSession").html(id);
            	$("input.dateSession").val(data['date']);
            	$("input.HDebutSession").val(data['hDebut']);
            	$("input.HFinSession").val(data['hFin']);
            	$("input.DureeSession").val(data['duree']);
            	$("input.TypeSeance").val(data['seance']);
            	$("input.TypeFormation").val(data['formation']);
            },
            error: function(exception){
          		alert(exception.responseText);
        	}
        });
	};

	function listFormateur(id) {
		$.ajax({
            type: "POST",
            url: "{{ path('formateurs_session_ajax') }}",
            data: 'id=' + id,
            timeout: 10000,
            success: function(data){
            	var noResult = 1;
        		$("div.listFormateur").html('<table><tbody>');
        		$.each(data, function(index){
		            var tiers    = data[index].tiers;
		            $("div.listFormateur").append('<tr><td>'+tiers+'</td></tr>');
		            noResult = 0;
		    	});
		    	$("div.listFormateur").append('</tbody></table>');
		    	if(noResult==1){
		    		$("div.listFormateur").html('Pas de formateur inscrit pour cette session');
		    	}
            },
            error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText); //Ce code affichera le message d'erreur.
			}
        });
	};

	changeOF(modSelect,typeSelect);

    typeSelect.change(function(){
    	changeOF(modSelect,typeSelect); 
    });

    modSelect.change(function(){
    	changeOF(modSelect,typeSelect);
    });

    $( ".js-btn-voir" ).click(function(){
    	var idParcours = $(this).data('entityid');
    	listSessions(idParcours);
    	detailStagiaire(idParcours);

    	$('html, body').animate({
			scrollTop:$('#stagDetail').offset().top
		}, 'slow');
    });

    $("body").on("click",".btn-voir", function(){  
    	var entityid = $(this).data("entityid");
    	detailSession(entityid);
    	listFormateur(entityid);
    	$(".infos-session").show();

        $('html, body').animate({
			scrollTop:$('.infos-session').offset().top
		}, 'slow');

    });
});
</script>

{% include '::Session/session_js.html.twig' %}

{% endblock %}