{# Surchage d'une vue de FOSUserBundle (v2.0@dev) #}

{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}error</div>
{% endif %}
<div id="main">
    <div class="container">
        <div class="row">
          <div id="page-logo"> <img src="{{ asset('img/logos/logo-ceofesa.png') }}" class="img-responsive" alt="logo"> </div>
        </div>
        <div class="row">
            <div class="panel">
                <div class="panel-heading">
                  <div class="panel-title"> <span class="glyphicon glyphicon-lock"></span> Connexion 
                  </div>
                </div>
                <form class="cmxform" id="altForm" action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="input-group"> 
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span> </span>
                                <input type="text" id="username" class="form-control phone" name="_username" autocomplete="off" placeholder="Nom d'utilisateur" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group"> 
                                <span class="input-group-addon"><span class="glyphicon glyphicon-link"></span> </span>
                                <input type="password" id="password" class="form-control product" name="_password" autocomplete="off" placeholder="Mot de Passe" required="required">
                            </div>
                        </div>
                        <div class="form-group-last checkbutton">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                        </div>
                    </div>
                    <div class="panel-footer"> <span class="panel-title-sm pull-left" style="padding-top: 7px;"><a href="{{ path('fos_user_resetting_request') }}"> Mot de passe oublié ?</a></span>
                        <div class="form-group margin-bottom-none">
                            <input id="_submit" class="btn btn-primary pull-right" type="submit" value="{{ 'security.login.submit'|trans }}" name="_submit" />
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
            <br/>
            <a href="{{ path("login_new") }}" class="btn btn-default btn-xs">Faire une demande de compte pour votre structure</a>
            <br/><br/>
            <div class="alert alert-danger"><i class="fa fa-warning"></i><br/> À cause des congés estivaux, le traitement des demandes de compte ne reprendra qu'à partir du 17 août. <br/>Merci de votre compréhension.</div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}

{% block javascripts %}
{% endblock javascripts %}
