{# Vue de la page "Devis en cours" de la partie Administration #}

{% extends '::layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-visible">
            <div class="panel-heading">
                <div class="panel-title hidden-xs"><span class="glyphicon glyphicon-list"></span> Liste des Devis en Cours </div>
            </div>
            <div class="panel-body">
                <div class="clearfix"></div>

                <table class="table table-striped table-bordered table-hover dataTable records_list" id="datatable">
                    <thead>
                        <tr>
                            <th>Structure Concernée</th>
                            <th>Numero</th>
                            <th>Date du devis</th>
                            <th>Prix total</th>
                            <th>Statut</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    	{% for entity in entities %}
                    	<tr>
                    		<td>{{ entity.devStructure.strNom }}
                            <td>{{ entity.devAnnee }}-{{ "%04d"|format(entity.devNumero) }}</td>
                            <td data-order="{{ entity.devDatedevis.timestamp|default(0) }}">{{ entity.devDatedevis|date('Y-m-d')|default() }}</td>
                            <td>{{ entity.devPrixtotal|number_format(2, ',', ' ')  }} €</td>
                            <td class="statut">{{ entity.devStatut }}</td>
                            <td class="text-center">
                                <a href="{{ path('devis_admin_show', { 'id': entity.devId }) }}">
                                    <button type="button" class="btn btn-blue3 btn-xs">
                                        <i class="fa fa-eye"></i> Voir
                                    </button>
                                </a>

                                {% if entity.devStatut == "en cours" %}
                                    <button type="button" class="btn btn-green3 btn-xs btn-valid" data-entityid="{{entity.devId|default('')}}">
                                        <i class="fa fa-check"></i> Valider
                                    </button>

                                    <button type="button" class="btn btn-red3 btn-xs btn-refuse" data-entityid="{{entity.devId|default('')}}">
                                        <i class="fa fa-times"></i> Refuser
                                    </button>
	                            {% endif %}

                                {% if entity.devStatut == "Validé" %}
                                    <button type="button" class="btn btn-purple3 btn-xs btn-unvalid" data-entityid="{{entity.devId|default('')}}">
                                        <i class="fa fa-times"></i> Invalider
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                       {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
<script type="text/javascript">

    $(document).ready(function() {

        $("body").on("click",".btn-valid", function(){

            var entityid = $(this).data("entityid");
            $(this).hide();
            $(this).next('.btn-refuse').hide();
            $(this).parent().prev('td.statut').html('Validé');

            $.ajax({
                type: "POST",
                url: "{{ path('devis_valid') }}",
                data: 'id=' + entityid,
                timeout: 10000,
                success: function(data){
                    alert("Devis validé :" + data);
                },
                error: function(){
                    alert("Erreur : le devis ne s'est pas validé dans la base de données")
                }
            });
        });

        $("body").on("click",".btn-refuse", function(){

            var entityid = $(this).data("entityid");
            var raison = window.prompt("Indiquez la raison du refus", "");
            $(this).hide();
            $(this).prev('.btn-valid').hide();
            $(this).parent().prev('td.statut').html('Refusé');

            $.ajax({
                type: "POST",
                url: "{{ path('devis_refuse') }}",
                data: { 'id':entityid , 'raison':raison },
                timeout: 10000,
                success: function(data){
                    alert("Devis refusé :" + data);
                },
                error: function(){
                    alert("Erreur : l'opération ne s'est pas enregistrée dans la base de données")
                }
            });
        });

        $("body").on("click",".btn-unvalid", function(){

            var entityid = $(this).data("entityid");
            $(this).hide();
            $(this).prev('.btn-valid').hide();
            $(this).parent().prev('td.statut').html('Refusé');

            $.ajax({
                type: "POST",
                url: "{{ path('devis_unvalid') }}",
                data: { 'id':entityid },
                timeout: 10000,
                success: function(data){
                    alert("Le Devis suivant a été invalidé :" + data);
                    window.location.reload();
                },
                error: function(){
                    alert("Erreur : l'opération ne s'est pas enregistrée dans la base de données")
                }
            });
        });

    });

</script>
{% endblock %}
