{# Vue "liste des devis" dans la partie Devis #}

{% extends '::layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-visible">
            <div class="panel-heading">
                <div class="panel-title hidden-xs"><span class="glyphicon glyphicon-list"></span> Liste des Devis </div>
            </div>
            <div class="panel-body">
                <div class="clearfix"></div>

                <table class="table table-striped table-bordered table-hover dataTable records_list" id="datatable">
                    <thead>
                        <tr>
                            <th>Année</th>
                            <th>Numéro</th>
                            <th>Date du devis</th>
                            <th>Date de debut</th>
                            <th>Date de fin</th>
                            <th>Statut</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for devi in devis %}
                        <tr>
                            <td>{{ devi.devAnnee }}</td>
                            <td>{{ devi.devNumero }}</td>
                            <td>{% if devi.devDatedevis %}{{ devi.devDatedevis|date('d/m/Y') }}{% endif %}</td>
                            <td>{% if devi.devDatedebut %}{{ devi.devDatedebut|date('d/m/Y') }}{% endif %}</td>
                            <td>{% if devi.devDatefin %}{{ devi.devDatefin|date('d/m/Y') }}{% endif %}</td>
                            <td>{{ devi.devStatut }}</td>
                            <td class="text-center">
                                <a href="{{ path('devis_show', { 'id': devi.devId }) }}">
                                    <button type="button" class="btn btn-green3 btn-xs">
                                        <i class="fa fa-eye"></i> Voir
                                    </button>
                                </a>
                                {% if devi.devStatut != "Validé" %}
                                    <a href="{{ path('devis_edit', { 'id': devi.devId }) }}">
                                        <button type="button" class="btn btn-blue4 btn-xs">
                                            <i class="fa fa-pencil"></i> Editer
                                        </button>
                                    </a>
                                {% else %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('new_daf', { 'id': devi.devId }) }}">
                                        <button type="button" class="btn btn-blue btn-xs">
                                            <i class="fa fa-folder"></i> Créer une DAF
                                        </button>
                                    </a>
                                    {% endif %}
                                    <a href="{{ path('devis_print', { 'id': devi.devId }) }}" target="_blank">
                                        <button type="button" class="btn btn-blue4 btn-xs">
                                            <i class="fa fa-print"></i> Imprimer Devis
                                        </button>
                                    </a>
                                     <a href="{{ path('attestation_print', { 'id': devi.devId }) }}" target="_blank">
                                        <button type="button" class="btn btn-blue2 btn-xs">
                                            <i class="fa fa-print"></i> Imprimer Attestation
                                        </button>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


                <a href="{{ path('devis_new') }}">
                    <button type="button" class="btn btn-blue4 btn-xs">
                        <i class="fa fa-pencil"></i> Créer un nouveau devis
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block javascripts %}
{% endblock %}
