{% extends '::layout.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-visible">
            <div class="panel-heading">
                <div class="panel-title hidden-xs"><span class="glyphicon glyphicon-search"></span> Détails de l'APC </div>
            </div>
            <div class="panel-body">
                <table class="record_properties table table-bordered">
                    <tbody>
                        <tr>
                            <th>Structure</th>
                            <td>{{ daf.dafStructure.strNom }}</td>
                        </tr>
                        <tr>
                            <th>Numéro</th>
                            <td>{{ daf.dafDossier }}</td>
                        </tr>
                        <tr>
                            <th>Date de Début</th>
                            <td data-order="{{ daf.dafDatedebut.timestamp|default(0) }}">{{ daf.dafDatedebut|date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <th>Date de Fin</th>
                            <td data-order="{{ daf.dafDatefin.timestamp|default(0) }}">{{ daf.dafDatefin|date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <th>Nombre de stagiaires</th>
                            <td>{{ daf.dafNbSalarie }}</td>
                        </tr>
                        <tr>
                            <th>Nombre d'heure total</th>
                            <td>{{ daf.totalNbheure }}</td>
                        </tr>
                        <tr>
                            <th>Taux Horaire</th>
                            <td>{{ daf.dafTauxhoraire }}</td>
                        </tr>
                        <tr>
                            <th>Prix Total</th>
                            <td>{{ daf.totalMontant | number_format(2, ',', ' ')  }} €</td>
                        </tr>
                    </tbody>
                </table>

                {% if bonCdes | length > 0 %}
                    <h3>Sous traitants</h3>
                    <table class="table table-bordered table-condensed table-hover">
                        <tr>
                            <th>Nom</th>
                            <th>Bon de commande envoyé</th>
                            <th>Action</th>
                        </tr>
                        {% for bon in bonCdes %}
                            <tr>
                                <td>{{ bon.bcdRelation.relSoustraitant.strNom }}</td>
                                <td>{{ bon.bcdSent ? 'Oui' : 'Non' }}</td>
                                <td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('print_st_daf', { 'id' : bon.bcdId }) }}">
                                            <button type="button" class="btn btn-blue4 btn-xs">
                                                <i class="fa fa-print"></i> Imprimer le bon de commande
                                            </button>
                                        </a>
                                        {% if bon.bcdSent == false %}
                                            <a href="{{ path('bcd_send', { 'id' : bon.bcdId }) }}">
                                                <button type="button" class="btn btn-blue3 btn-xs">
                                                    <i class="glyphicons glyphicons-file_import"></i> Marquer comme envoyé
                                                </button>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}

                <h3>Parcours de stagiaire</h3>
                <table class="table table-bordered table-condensed table-hover">
                    <tr>
                        <th>Stagiaire</th>
                        <th>Module</th>
                        <th>Nombre d'Heures</th>
                        <th>Type</th>
                        <th>OF</th>
                        <th>Sortie</th>
                        <th>Action</th>
                    </tr>
                    {% for dcont in daf.dafDCont %}
                        {% for parcours in dcont.cntParcours %}
                            <tr>
                                <td>{{ dcont.cntTiers.trsNomPrenom }}</td>
                                <td>{{ parcours.prcModule.modCode }}</td>
                                <td>{{ parcours.prcNombreHeure }}</td>
                                <td>{{ parcours.prcType.mtyType }}</td>
                                <td>{{ parcours.prcStructure.strNom }}</td>
                                <td>{% if dcont.cntDatesortie %}{{ dcont.cntDatesortie | date('d/m/Y') }} - {{ dcont.cntMotifsortie.srtMotif }}{% endif %}</td>
                                <td>
                                    <a href="{{ path('sortie_edit', { 'id' : dcont.cntId }) }}">
                                        <button type="button" class="btn btn-warning btn-xs">
                                            <i class="glyphicons glyphicons-file_import"></i> Indiquer le motif de sortie
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
                <br />
                <a href="{{ path('daf') }}">
                    <button type="button" class="btn btn-light4 spacing-button">
                        Retour à la liste
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
