{% extends "::layout.html.twig" %}
{% block body %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-visible margin-bottom-none">
        <div class="panel-heading">
          <div class="panel-title hidden-xs"><span class="glyphicon glyphicon-dashboard"></span>Panneau de contrôle - {{ structure.strNom }}</div>
        </div>
        <div class="panel-body">

          {{ form_start(form) }}
            <div class="row">
              <div class="col-sm-1">
                {{ form_label(form.start, null, { 'attr': { 'class': 'form-label' }}) }}
              </div>
              <div class="col-sm-2">
                {{ form_widget(form.start.day, { 'attr': { 'class': 'form-control' }} )  }}
              </div>
              <div class="col-sm-2">
                {{ form_widget(form.start.month, { 'attr': { 'class': 'form-control' }} )  }}
              </div>
              <div class="col-sm-2">
                {{ form_widget(form.start.year, { 'attr': { 'class': 'form-control' }} )  }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-1">
                {{ form_label(form.end, null, { 'attr': { 'class': 'form-label' }}) }}
              </div>
              <div class="col-sm-2">
                {{ form_widget(form.end.day, { 'attr': { 'class': 'form-control' }} )  }}
              </div>
              <div class="col-sm-2">
                {{ form_widget(form.end.month, { 'attr': { 'class': 'form-control' }} )  }}
              </div>
              <div class="col-sm-2">
                {{ form_widget(form.end.year, { 'attr': { 'class': 'form-control' }} )  }}
              </div>
              <div class="col-sm-3">
                {{ form_widget(form.save, { 'attr': { 'class': 'btn btn-primary' }} )  }}
                {{ form_widget(form.print, { 'attr': { 'class': 'btn btn-primary' }} )  }}
                {% if form.export is defined %}
                  {{ form_widget(form.export, { 'attr': { 'class': 'btn btn-primary' }} )  }}
                {% endif %}
              </div>
            </div>
          {{ form_end(form) }}

          <br />
          <br />

          <div class="clearfix"></div>

          <div class="row">
            <div class="col-md-12">
              <table class="js-data-table">
                <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>APC</th>
                  <th>Type</th>
                  <th>Module</th>
                  <th>Nombre d'Heures de la période</th>
                  <th>Cumul d'Heures réalisées<br /> depuis le début du parcours</th>
                  <th>Nombre d'Heures prévues<br /> pour le parcours</th>
                  <th>OF Sous-traitant</th>
                </tr>
                </thead>
                <tbody>
                {% for participant in participants %}
                  <tr>
                    <td>{{ participant.nom }}</td>
                    <td>{{ participant.prenom }}</td>
                    <td>{{ participant.dossier }}</td>
                    <td>{{ participant.type }}</td>
                    <td>{{ participant.moduleCode }} - {{ participant.moduleIntitule }}</td>
                    <td class="ta-right">{{ participant.nombreHeureMois | default('0.00') }}</td>
                    <td class="ta-right">{{ participant.nombreHeureCumulee | default('0.00') }}</td>
                    <td class="ta-right">{{ participant.nombreHeurePrevue | default('0.00') }}</td>
                    <td>{{ participant.structure }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<!-- End: Main -->
{% endblock %}
{% block javascripts %}
{% endblock %}
