{% extends '::layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-visible">
            <div class="panel-heading">
                <div class="panel-title hidden-xs"> <span class="glyphicon glyphicon-user"></span>Ajout d'un Stagiaire </div>
            </div>
            <div class="panel-body padding-bottom-none">
                {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="col-md-6">
                        {{ form_row(form.trsCivilite) }}
                        {{ form_row(form.trsNom) }}
                        {{ form_row(form.trsPrenom) }}
                        {{ form_row(form.trsFonction) }}
                        {{ form_row(form.trsAdresse1) }}
                        {{ form_row(form.trsAdresse2) }}
                        {{ form_row(form.trsCp) }}
                        {{ form_row(form.trsVille) }}
                        
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.trsEmail) }}
                        {{ form_row(form.trsTel1) }}
                        {{ form_row(form.trsTel2) }}
                        {{ form_row(form.trsPortable) }}
                        {{ form_row(form.trsDatenaissance) }}
                        {{ form_row(form.trsLieunaissance) }}
                        {{ form_row(form.trsNumsecu) }}
                    </div>
                    <div class="col-md-12">
                    {{ form_row(form.enregistrer) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}