{% extends '::layout.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-visible">
            <div class="panel-heading">
                <div class="panel-title hidden-xs"><span class="glyphicon glyphicon-search"></span> Détails du stagiaire </div>
            </div>
            <div class="panel-body">
                <table class="record_properties table table-bordered">
                    <tbody>
                        <tr>
                            <th>Nom</th>
                            <td>{{ entity.trsNom }}</td>
                        </tr>
                        <tr>
                            <th>Prenom</th>
                            <td>{{ entity.trsPrenom }}</td>
                        </tr>
                        <tr>
                            <th>Adresse1</th>
                            <td>{{ entity.trsAdresse1 }}</td>
                        </tr>
                        <tr>
                            <th>Adresse2</th>
                            <td>{{ entity.trsAdresse2 }}</td>
                        </tr>
                        <tr>
                            <th>Code Postal</th>
                            <td>{{ entity.trsCp }}</td>
                        </tr>
                        <tr>
                            <th>Ville</th>
                            <td>{{ entity.trsVille }}</td>
                        </tr>
                        <tr>
                            <th>Téléphone 1</th>
                            <td>{{ entity.trsTel1 }}</td>
                        </tr>
                        <tr>
                            <th>Téléphone 2</th>
                            <td>{{ entity.trsTel2 }}</td>
                        </tr>
                        <tr>
                            <th>Téléphone Portable</th>
                            <td>{{ entity.trsPortable }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ entity.trsEmail }}</td>
                        </tr>
                        <tr>
                            <th>Fonction</th>
                            <td>{{ entity.trsFonction }}</td>
                        </tr>
                        <tr>
                            <th>Date de Naissance</th>
                            <td data-order="{{ entity.trsDatenaissance.timestamp|default(0) }}">
                                {{ entity.trsDatenaissance|date('Y-m-d')|default() }}
                            </td>
                        </tr>
                        <tr>
                            <th>Lieu de Naissance</th>
                            <td>{{ entity.trsLieunaissance }}</td>
                        </tr>
                        <tr>
                            <th>Numéro de Sécurité Sociale</th>
                            <td>{{ entity.trsNumsecu }}</td>
                        </tr>
                    </tbody>
                </table>

                <br/>

                <a href="{{ path('stagiaire_edit', { 'id': entity.trsId }) }}">
                    <button type="button" class="btn btn-blue4">
                        Modifier
                    </button>
                </a>

                <a href="{{ path('stagiaire_list') }}">
                    <button type="button" class="btn btn-light4">
                        Retour à la liste
                    </button>
                </a>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-visible">
            <div class="panel-heading">
                <div class="panel-title hidden-xs"><span class="glyphicon glyphicon-search"></span> Parcours du stagiaire </div>
            </div>
            <div class="panel-body">
                {{ form_start(filter_form) }}
                    <div class="row">
                        <div class="col-sm-1">
                            {{ form_label(filter_form.start, null, { 'attr': { 'class': 'form-label' }}) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_widget(filter_form.start.day, { 'attr': { 'class': 'form-control' }} )  }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_widget(filter_form.start.month, { 'attr': { 'class': 'form-control' }} )  }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_widget(filter_form.start.year, { 'attr': { 'class': 'form-control' }} )  }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            {{ form_label(filter_form.end, null, { 'attr': { 'class': 'form-label' }}) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_widget(filter_form.end.day, { 'attr': { 'class': 'form-control' }} )  }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_widget(filter_form.end.month, { 'attr': { 'class': 'form-control' }} )  }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_widget(filter_form.end.year, { 'attr': { 'class': 'form-control' }} )  }}
                        </div>
                        <div class="col-sm-3">
                            {{ form_widget(filter_form.filter, { 'attr': { 'class': 'btn btn-primary' }} )  }}
                        </div>
                    </div>
                {{ form_end(filter_form) }}

                <div class="row">
                    <div class="col-md-12">
                        <table class="js-data-table">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>APC</th>
                                <th>Module</th>
                                <th>Type</th>
                                <th>Nombre d'Heures de la période</th>
                                <th>Cumul d'Heures réalisées<br /> depuis le début du parcours</th>
                                <th>Nombre d'Heures prévues<br /> pour le parcours</th>
                                <th>OF Sous-traitant</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for _parcours in parcours %}
                                <tr>
                                    <td>{{ _parcours.nom }}</td>
                                    <td>{{ _parcours.prenom }}</td>
                                    <td>{{ _parcours.dossier }}</td>
                                    <td>{{ _parcours.module }}</td>
                                    <td>{{ _parcours.type }}</td>
                                    <td class="ta-right">{{ _parcours.nombreHeureMois | default('0.00') }}</td>
                                    <td class="ta-right">{{ _parcours.nombreHeureCumulee | default('0.00') }}</td>
                                    <td class="ta-right">{{ _parcours.nombreHeurePrevue | default('0.00') }}</td>
                                    <td>{{ _parcours.structure }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}
