{% extends '::layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-visible">
            <div class="panel-heading">
                <div class="panel-title hidden-xs"> <span class="glyphicon glyphicon-user"></span>Ajouter une Structure </div>
            </div>
            <div class="panel-body">
                <div class="panel-body padding-bottom-none">

                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.strNom) }}
                            {{ form_row(form.strAdresse1) }}
                            {{ form_row(form.strAdresse2) }}
                            {{ form_row(form.strCp) }}
                            {{ form_row(form.strVille) }}
                            {{ form_row(form.strReponsable) }}
                            {{ form_row(form.strFonction) }}
                            
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.strSiret) }}
                            {{ form_row(form.strNumof) }}
                            {{ form_row(form.strIncom) }}
                            {{ form_row(form.strTelephone) }}
                            {{ form_row(form.strEmail) }}
                            {{ form_row(form.strRegion) }}
                            {{ form_row(form.strType) }}
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.strAdherent) }}                            
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.strDateagrement) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.strDatefin) }}
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.strEnvoiconvention) }}
                            {{ form_row(form.strDateenvoiconvention) }}
                            {{ form_row(form.strRetourconvention) }}
                            {{ form_row(form.strDateretourconvention) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.strEnvoiavenant) }}
                            {{ form_row(form.strDateenvoiavenant) }}
                            {{ form_row(form.strRetouravenant) }}
                            {{ form_row(form.strDateretouravenant) }}
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.enregistrer) }}
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
